[2021-08-01 02:02] nedpals opened #1666 "Circular dependency error when used in Vite"
## Description
I'm using [\@lyno/lib-jitsi-meet](https://www.npmjs.com/package/@lyno/lib-jitsi-meet) and I'm trying to use it inside a Vue frontend with Vite as the build system/bundler. Even though I'm using a fork, it is still relevant to this repo since it uses one of your internal modules which is explained below at the `Current behavior` section.

## Current behavior
It outputs an error log i

[2021-08-01 03:09] nedpals commented on #1666
I'll be closing this issue for now

[2021-08-01 03:29] #1666 closed

[2021-08-06 06:50] everflux commented on #1443
You can listen for the event and Reenable Audio. Imho this it not a jitsi issue per se but how iOS works.

[2021-08-06 10:17] mnasyrov opened #1674 "Allow to configure DESKTOP_SHARE_RATE and HD_BITRATE parameters"
## Description

There are `HD_BITRATE` and `DESKTOP_SHARE_RATE` constants which are used by `TraceablePeerConnection.setMaxBitRate()` function. Please allow to configure them.

---

## Current behavior
`TraceablePeerConnection.setMaxBitRate()` function uses following values for the constants:
[code]

---

## Expected Behavior

These parameters can be configured via connection options.

---

## Env

[2021-08-06 10:26] saghul commented on #1674
What is your use case?

[2021-08-06 11:59] sahil-nagpal1 commented on #1206
Same error

[2021-08-06 15:57] mnasyrov commented on #1674
Enabling extra quality for sharing a screen with a big resolution. It would be great if the bitrate can be  changed dynamically during the call.

[2021-08-06 18:54] jallamsetty1 commented on #1674
Please note that these values are used only for low fps screenshare, i.e., when simulcast is disabled. Sending high bitrate unicast stream is not ideal since the bridge will suspend the screenshare for endpoints that do not have enough downlink to receive the screenshare.

Also, high resolution screenshare doesn't necessarily produce a high bps stream unless the scene is changing a lot. In that ca

[2021-08-10 03:33] mnasyrov commented on #1674
I'm looking an option to get better quality of streaming a high-resolution source (e.g. 4k display) via Intranet.

[2021-08-10 18:16] icewarp commented on #1674
That would be awesome.. our clients complained, that they can't screenshare locally playing videos (previews of some internal media).. we increased max FPS to 15 in jitsi, but it can't be reached in this bandwidth envelope for screen sharing.. when increased to at least HD_BITRATE, then Chrome started to send more FPS due to increased bandwidth limit..

we are doing this modification by modifying

[2021-08-13 14:10] saghul opened #1683 "Meta: TypeScript"
The writing was on the wall, but this post made it clear: https://medium.com/flow-type/clarity-on-flows-direction-and-open-source-engagement-e721a4eb4d8b Flow is not for us.

Thus, we are going to start migrating this library to TypeScript.

This won't happen overnight, the plan is to do it gradually. In https://github.com/jitsi/lib-jitsi-meet/pull/1682 I adapted the build system to use Webpack 5

[2021-08-16 12:55] bukharin opened #1687 "JitsiTrack.setEffect brokes audio in Firefox remote participant"
## Description

When start screen sharing in Chrome with unified plan with audio remove participant with Firefox stops hearing Chrome participant

Reproduces on meet.jit.si

## Expected Behavior

Firefox participant should not stop hearing Chrome participant

## Steps to reproduce

Create conference with FF and Chrome participant. On Chrome start screen sharing with enabled "local audio" checkbox.

[2021-08-17 09:38] eddsaura commented on #1560
Hi, I have similar problems. I need to know if we have the permissions or not in firefox, before launching the mediaDevices.enumerateDevices

[2021-08-17 10:00] saghul commented on #1560
Firefox will always prompt for permission.

[2021-08-17 10:33] saghul commented on #1687
Ping @jallamsetty1

[2021-08-18 10:55] eddsaura commented on #1560
Yes, but if the user deny it unintentionally I want to check it before launching the actual function to get the devices

[2021-08-18 11:27] saghul commented on #1560
I'm afraid there is no way to know that in Firefox without trying. They don't implement the "camera" and "microphone" permissions in the Permissions API: https://developer.mozilla.org/en-US/docs/Web/API/Permissions_API

[2021-08-19 14:30] jallamsetty1 commented on #1687
@bukharin I can't seem to reproduce this issue on meet.jit.si. Are you able to reproduce it there ?

[2021-08-19 15:15] bukharin commented on #1687
@jallamsetty1 yes,

let me show how to reproduce on single local machine.

1. Open same conference in FF and Chrome, like meet.jit.si/lalala. I am using WIndows 10, FF 91 and Chrome 92
2. Turn OFF microphone in FF and ON in Chrome. You will hear yourself, because FF will play audio from Chrome
3. Share screen in Chrome with Audio access

![image](https://user-images.githubusercontent.com/3126568/1

[2021-08-20 09:07] probal31 opened #1690 "Remote Video stream not displayed in Firefox"
Hello Team,

We have implemented a custom implementation of jitsi using the lib jitsi meet api.

The video conference seems to work fine in Chrome (Version 92 (Official Build) (64-bit)) but the same implementation does not work in Firefox 91.0 (64-bit).

Only local track is video stream is visible but not the remote track stream. But everything works fine in Chrome.
There is no error in the consol

[2021-08-21 06:15] c0m1t opened #1693 "Some participants can't hear others"
## Description
Sometimes, some participants cannot hear others audio. This does not happen always.

The participants get the following error:
[code]
Seems like `_findTransceiver` returns `null`.

[code]

[2021-08-24 19:26] jallamsetty1 commented on #1687
@bukharin Are you able to reproduce this issue when the Chrome and Firefox endpoints are running on to different machines ? Firefox and Chrome do not share audio/video devices properly, i.e., if Firefox grabs the device first, it becomes unavailable for chrome on some platforms. The fact that replaceTrack works while removeTrack->addTrack doesn't kind of confirms that its not in our code.

[2021-08-25 04:27] bukharin commented on #1687
@jallamsetty1

Yes, tested on Windows and MacOC

To reproduce this issue you don't need access to devices in FF, just deny access when FF asks.

[2021-09-01 07:18] Hin-D commented on #1674
I have the same question. please could you share the code you modified?

[2021-09-01 12:34] DanielMcAssey opened #1703 "Video Quality is half when using Simulcast and Screen Sharing"
*This Issue tracker is only for reporting bugs and tracking code related issues.*

Before posting, please make sure you check community.jitsi.org to see if the same or similar bugs have already been discussed. General questions, installation help, and feature requests can also be posted to community.jitsi.org.

## Description
---
When streaming at full 1080p, the receiver is only receiving half 54

[2021-09-01 12:50] #1435 closed

[2021-09-05 06:07] bukharin commented on #1687
@jallamsetty1 are you able to reproduce this issue?

Chrome 93 by default share audio if user select single tab for screensharing. This problem will apper more often now.

[2021-09-13 14:52] jallamsetty1 commented on #1703
@DanielMcAssey, Do you have layer suspension enabled on your client ?

[2021-09-14 00:49] DanielMcAssey commented on #1703
@jallamsetty1 Yes Layer suspension is enabled, however the participant was in the Selected/Pinned array.

[2021-09-14 16:41] DanielMcAssey commented on #1703
Ah okay, no I am not adding to the onStageEndpoints, I assume setReceiverConstraints is the only way to do this?

I will do this and report back

[2021-09-16 05:31] bukharin opened #1713 "Safari 13 support?"
## Description

We investigated that users with Safari 13 version (no matter desktop or mobile) does not hearing other participants. Does LJM supports this browser?

It seems that in this browser `stream` is `undefined` [here](https://github.com/jitsi/lib-jitsi-meet/blob/d4bb376f96e50fa8c2951bd6428902f1ddeacaf3/modules/RTC/TraceablePeerConnection.js#L327)

# Environment details

Safari on MacOS 13

[2021-09-16 07:03] saghul commented on #1713
I don't think we do, @jallamsetty1 can you confirm?

[2021-09-16 09:58] bukharin commented on #1713
It seems that meet.jit.si allows user to launch conference in web on Safari 13

[2021-09-16 13:14] saghul commented on #1713
Yes, we may need to adjust our supported version so you are not allowed to join if we don't support that version.

[2021-09-16 16:28] zsinba commented on #1690
I have the same issue. But I'm not under FF. I'm under the browser（chrome mobile version 92） on my Android phone（android 10）. My app works fine on IOS and PC (Mac and Windows) and displays the remote image normally, but often doesn't display the remote image under the Android mobile browser (even Chrome).
I guess it may be the reason for the initialization order, but the order of Join and Tracked

[2021-09-16 16:30] zsinba commented on #1572
the same issue。

[2021-09-16 16:31] zsinba commented on #1443
the same issue with Bluetooth

[2021-09-16 16:34] zsinba opened #1714 "Get remote video on android phone sometimes error"
*This Issue tracker is only for reporting bugs and tracking code related issues.*

Before posting, please make sure you check community.jitsi.org to see if the same or similar bugs have already been discussed. General questions, installation help, and feature requests can also be posted to community.jitsi.org.

## Description
---
the system is os one the iPad (ios), Mac(chrome),windows(Chrome);
bu

[2021-09-16 17:37] jallamsetty1 commented on #1713
We do support Safari 13. Safari 12.1 is when Safari switched to unified plan and we support all versions after that.
@bukharin You said Safari 13 users don't hear other users, but do they see the other users ? Also are these users joining audio/video muted ? We know of an issue on iOS where users joining audio/video muted were not hearing other participants and we have merged a fix for this.

[2021-09-17 06:01] bukharin commented on #1713
@jallamsetty1

No. Start unmuted.

We use latest master build of LJM with this fix

I found a user with iPhone 6 + Safari 12.1 and he has the same issue. He does not hear and see any other participants. But remote participants hears and see him.

We collect client exceptions. On Safari 13 the problem seems here:

[code]

In this lines of minified code

[code]

It seem that all remote tracks could

[2021-09-21 08:55] Maders commented on #1693
@jallamsetty1, your comment will be highly insightful for us to resolve the issue. 😊

[2021-09-21 14:15] jallamsetty1 commented on #1693
@c0m1t Can you please be more specific about what is happening ? Are you saying that when this error is seen on a particular user, all other participants are not able to hear this user ? If so, can you please provide us the steps to reproduce this issue and add the browser details as well.

[2021-09-21 15:08] AjayShivanagol opened #1722 "latest lib-jitsi-meet has issues."
I am at the master branch and if I do **npm install** I am getting the following error.
cc @jallamsetty1
![Screenshot from 2021-09-21 20-36-43](https://user-images.githubusercontent.com/29257275/134196913-e4eaf095-ff98-4b24-adbf-993fd8ef362d.png)

[2021-09-21 15:14] AjayShivanagol commented on #1722
I hope the following PR created an issue https://github.com/jitsi/lib-jitsi-meet/pull/1721
CC @tmoldovan8x8

[2021-09-21 15:19] damencho commented on #1722
@saghul @tmoldovan8x8 Can you take a look, I confirm master is broken.

[2021-09-21 17:11] #1722 closed

[2021-09-28 07:05] chernodub opened #1728 "Video freezes when muted/unmuted several times on Firefox, Windows"
Hi everyone, first I want to say thanks for your work I truly appreciate what you're doing!

## Description

I faced the problem with frozen video when trying to mute/unmute the track several times. I tried to reproduce it on `meet.jit.si` and it's there.

---

## Current behavior

When muting/unmuting video several times, it freezes

---

## Expected Behavior

The video is not frozen after muting

[2021-10-01 09:12] psi-4ward commented on #1674
We do similar things:
[code]

And disable the lower-resolution screenshare tracks
[code]

[2021-10-01 20:23] jallamsetty1 commented on #1674
We do disable the lower-resolution screenshare streams by default (unified-plan implementation). I am working on a PR that makes desktop share rate configurable.

[2021-10-04 19:55] jerry2013 opened #1738 "Safari 15 (up to 15.4) cannot see remote streams"
*This Issue tracker is only for reporting bugs and tracking code related issues.*

Before posting, please make sure you check community.jitsi.org to see if the same or similar bugs have already been discussed. General questions, installation help, and feature requests can also be posted to community.jitsi.org.

## Description
---
On beta.meet.jit.si, using Safari 15 (release) or tech preview (15.4

[2021-10-04 22:54] jerry2013 commented on #1738
Update - I just tried checking the underlying peer connection - turns out the remote media track is valid (I can render the receiver.track)

The actual problem is when the `this.peerconnection.addEventListener('track', this.onTrack);` fires, the SDP (from `this.peerconnection.remoteDescription.sdp`) does not yet contain the transceiver's mid.

Then, after the offer/answer cycle, `APP.conference._r

[2021-10-04 23:02] jerry2013 commented on #1738
one more update - `this.peerconnection.setRemoteDescription` resolves after the `ontrack` event fires.

[2021-10-05 05:36] saghul commented on #1738
Ping @jallamsetty1

[2021-10-05 16:05] jallamsetty1 commented on #1738
@jerry2013 Safari 15 does seem to support VP9 and I am able to see video for other users using Chrome and doing VP9. Please note that is VP9 is not supported on Safari all the other endpoints in the call automatically fallback to VP8. I am not able to reproduce this issue on Safari Version 15.0 (16612.1.29.41.4, 16612).

[2021-10-05 18:21] jerry2013 commented on #1738
Right - I have trouble with Safari on iOS 15.0.1 and Safari TP release 133 (15.4) on Mac - apparently the original 15.0 worked for a coworker of mine as well.

[2021-10-06 09:59] zamarawka commented on #484
Sooo. Passing almost year since last update on this thread and maybe we got some updates here?

@saghul @sapkra

But anyway, thanks for lib.

[2021-10-06 10:16] saghul commented on #484
The main reason why this doesn't happen is that we are concerned that people's applications will break if they don't update the library when we update the backend. While we don't change the public APIs often, there are lots of internal changes in the communication with the bridge that need to be in sync with the backend.

So I'm now leaning more towards "plan B": create a wrapper package that dyna

[2021-10-08 18:08] fippo commented on #1738
VP9 is apparently not ready yet, specifically
https://bugs.webkit.org/show_bug.cgi?id=231071
but probably also https://bugs.webkit.org/show_bug.cgi?id=231074

If this started with 15.0.1 but wasn't reproducible in 15.0 it might be due to the change from https://bugs.webkit.org/show_bug.cgi?id=230604

[2021-10-14 07:32] c0m1t commented on #1693
@jallamsetty1  We updated `lib-jitsi-meet` to the latest stable version and that error in logs is gone but the problem persists in some way. In a conference that are more than 12 people, the problem occurs. Here's what happens usually:
The user who has joined the conference as the 13th person(or more) tries to unmute, the mute indicator locally changes but for remote participants, he/she will stil

[2021-10-14 23:30] jallamsetty1 commented on #1693
Can you check if the 13th participant sends a source-add to Jicofo when they unmute ? Also only when Jicofo advertises this new source to the other participants in the call via a source-add, they will be able to see the other participant as unmuted.  Is your Jicofo/JVB running the latest version as well ?

[2021-10-15 10:37] mnasyrov opened #1755 "Uncaught TypeError: Cannot destructure property 'id' of 'undefined'"
## Description

I've got a user report with the error:

[code]

<img width="1791" alt="Screenshot 2021-10-15 в 12 52 01" src="https://user-images.githubusercontent.com/445680/137474346-1b111478-b337-433a-8012-d1533a0cc4bb.png">

---

## Current behavior

Remote media tracks are not added.

---

## Possible Solution

It seems like a handler of `track` event of PeerConnection should be ready to get

[2021-10-15 15:17] #1674 closed

[2021-10-20 07:02] bukharin opened #1759 "Layer suspension broken in latest lib-jitsi-meet"
## Description

`lib-jitsi-meet` does not suspend simulcast layers when JVB signals `idealHeight: 0`. Seems starts from [this refactoring](https://github.com/jitsi/lib-jitsi-meet/commit/d27a510f844562ef8e25a10ae655d103227ec7ac)

[code]

## Current behavior

Does not suspend any layer

## Expected Behavior

`lib-jitsi-meet` should suspend all layers when receive `idealHeight: 0` from JVB

[2021-10-20 09:44] vany-egorov commented on #1755
Got same issue with YandexBrowser.

[2021-10-20 11:11] bukharin commented on #1755
Could not reproduce on Yandex.Browser 21.9.0.1488 (64-bit) MacOS

[2021-10-20 16:31] jallamsetty1 commented on #1759
Thanks for the report, I have identified the issue and will be opening a PR soon.

[2021-10-20 18:18] #1759 closed

[2021-10-20 19:32] #1755 closed

[2021-10-20 19:43] mnasyrov commented on #1755
@saghul What about the issue which @bukharin found with Safari 13? It seems like the same one.
More details here: https://github.com/jitsi/lib-jitsi-meet/issues/1713#issuecomment-921522229

[2021-10-21 05:36] c0m1t commented on #1693
@jallamsetty1 Thank you. We haven't been able to fix this issue but it turned out it's probably because of our `jitsi-meet` project which is not updated to the latest version; we used the latest stable version of jitsi, without our changes, and the audio problem was gone.

[2021-10-21 05:36] #1693 closed

[2021-10-25 10:05] Fuzzyma opened #1767 "Error when leaving locks room for further use"
## Description
When rapidly (or not so rapidly) switching between conferences, it can happen, that a room gets unusable because "The timeout for the confirmation about leaving the room expired.". After this has happened, you can neither leave the room (because `this.room` is null which leads to "you already left the room") nor can you join it (because `this.room` is null) and reinitializing the ro

[2021-11-02 14:57] NewEraCracker opened #1775 "LOCAL_TRACK_STOPPED event is no longer being emitted"
## Description

LOCAL_TRACK_STOPPED event is no longer being emitted when the local track stops.

---

## Current behavior

As of upgrading to our project to lib-jitsi-meet 1278 (also happens with latest 1282) from earlier version 1274 the LOCAL_TRACK_STOPPED event is no longer being emitted.

Most likely caused by one of these: https://github.com/jitsi/lib-jitsi-meet/compare/60349386a50bcb85d6dbc

[2021-11-03 16:02] fippo opened #1778 "update sctp jingle mapping"
follow-up from #1697 where @nils-ohlmeier said we should update the protocol from DTLS/SCTP to UDP/DTLS/SCTP.

It is a bit more complicated than that single transportToJingle looks for `a=sctpmap:` lines and there are gone now (I think, not sure if browsers still respond to the "legacy" variant)

So we need an updated specification that maps these lines:
[code]

[2021-11-04 11:02] nhandt-nals opened #1780 "[IOS] [Safari] Cannot change audio input. It always get default input audio in safari mobile"
### Description:

Cannot change device of audio input in setting dialog. When i change to another audio input it is not working (it's always use the default one).

### Steps to reproduce:

1. Go to meet.jit.si (use iphone of course)
2. Click icon setting on the right bottom conner (in **prejoin screen**) will open dialog **like this picture**
![image](https://user-images.githubusercontent.com/8660

[2021-11-05 08:38] erengms commented on #1631
We are having the same issue on iOS devices.

[2021-11-05 08:58] Jacky-Rolo commented on #1631
Hi @atomjump , @erengms

Can you also post some detail to  https://community.jitsi.org/t/duplicate-audio-in-p2p-on-mobile/100551
or post new post

I feel, core team did NOT spend too much time on github issue

many thanks

[2021-11-06 01:05] #1778 closed

[2021-11-06 02:01] zsinba opened #1782 "There is no video occasionally when Android is involved（有安卓参与的情况下偶发无影像）"
*This Issue tracker is only for reporting bugs and tracking code related issues.*

Before posting, please make sure you check community.jitsi.org to see if the same or similar bugs have already been discussed. General questions, installation help, and feature requests can also be posted to community.jitsi.org.

## Description
---
This is a rather strange phenomenon, and this problem only occurs on

[2021-11-06 02:02] zsinba commented on #1782
This problem has nothing to do with the Windows version, Chrome version, iOS version, and Mac version. It is a phenomenon that has appeared in the past year. There was no such issue before.

[2021-11-06 02:08] zsinba opened #1783 "Cannot use speaker sound under ipad (15.1)"
*This Issue tracker is only for reporting bugs and tracking code related issues.*

Before posting, please make sure you check community.jitsi.org to see if the same or similar bugs have already been discussed. General questions, installation help, and feature requests can also be posted to community.jitsi.org.

## Description
---
Under the iPad, only a small sound can be heard, which comes from th

[2021-11-06 06:38] saghul commented on #1783
Are you not able to select the output device?

[2021-11-06 06:39] saghul commented on #1782
Please provide browser console logs for the failing device, it's virtually impossible to help you otherwise.

[2021-11-06 09:55] zsinba commented on #1783
may be about this : https://bugs.webkit.org/show_bug.cgi?id=230902

[2021-11-06 09:56] zsinba commented on #1783
I don't think this has anything to do with it.

[2021-11-06 10:12] saghul commented on #1783
Yes, that could be it... or you are not using the output device and are instead using the earpiece. What device ID did you select on gUM?

[2021-11-14 18:35] nadelicious commented on #1443
this is fixed.

[2021-11-14 18:35] #1443 closed

[2021-11-15 17:56] nadelicious opened #1791 "Setting facing mode to `environment` as default is not working anymore in mobile Safari"
## Description

Facing mode setting (as constraints) is not working anymore new version of IOS (14 and 15) mobile safari

<img width="249" alt="Screen Shot 2021-11-15 at 3 15 50 AM" src="https://user-images.githubusercontent.com/5424315/141829428-15d5b2f0-3523-4375-b95f-76a383c77b06.png">

## Current behavior
Facing mode will force to `user` setting even you set it to `environment` as default.

##

[2021-11-18 16:50] NewEraCracker opened #1793 "P2P failures with Google Chrome 96"
After updating from Google Chrome 95 to 96 (automatic update) these error messages started appearing.

![image](https://user-images.githubusercontent.com/416945/142459207-525def29-31ff-42b1-a587-8c942ef62a26.png)

If I revert the virtual machine to Google Chrome 95 and do calls before Chrome updates itself, then there are none of these errors.

Custom application using lib-jitsi-meet
Google Chrome

[2021-11-18 16:54] saghul commented on #1793
PIng @jallamsetty1

[2021-11-19 09:24] NewEraCracker commented on #1793
I've tried to reproduce this again in the virtual machine without success. I wonder if this is caused by some experiment that Google enables for a percentage of the users.

Working Google Chrome 95 offer: https://pastebin.com/gmb5fR2k

Seems to work Google Chrome 96 offer: https://pastebin.com/ap5cwdXG

Causes the error above offer: https://pastebin.com/MVrJKKz2

[2021-11-19 10:28] NewEraCracker commented on #1793
I was looking online and found this list of H264 codecs: https://gist.github.com/eladkarako/119e91525d34db9f61cca23b18fd62a0

The good offers only include `profile-level-id=42` while the bad offer has `profile-level-id=4d` and `profile-level-id=64`

[2021-11-19 16:45] jallamsetty1 commented on #1793
@NewEraCracker When you hit the issue can you please capture the browser console logs also the meet logs by executing `APP.conference.saveLogs(); ` on the console ? This should automatically download a JSON file that has the SDPs to your local machine. These 2 logs will help us identify what the issue is, thanks!

[2021-11-19 18:52] NewEraCracker commented on #1793
[meetlog.txt](https://github.com/jitsi/lib-jitsi-meet/files/7572351/meetlog.txt)

[2021-11-25 12:02] fippo commented on #1793
there is this rtx codec with id 117
[code]
point to 124 which is
[code]

Do chrome logs show something along the lines of
[code]
(with different payload types)? There seems to be a bug that makes rtx refer to ulpfec but so far i haven't been able to pin it down.

[2021-11-26 08:29] NewEraCracker commented on #1793
@fippo Can you point me to how to collect Chrome logs? Is there maybe a workaround for disabling these faulty codecs on Chrome 96 so p2p can work with alternative ones?

[2021-11-28 12:58] p-fruck opened #1800 "participant.setRole is not a function"
I might be mistaken here because I am using the unfinished typescript definitions, but even looking at the js code of lib-jitsi-meet I cannot find the issue

## Description
---
I want to update the role of a given participant to moderator, which does not work currently. I'd like to use following code:
[code]

## Current behavior
---
- The participant object is logged
- The participant role is logg

[2021-11-28 15:36] p-fruck commented on #1800
Seems like the error was related to an outdated jitsi instance. What really confuses me though is the fact that `setRole` doesn't 'really' update the role, but instead `grantOwner()` is used to set the... umm... `'moderator'` role? Is there some documentation out there which explains how the `'owner'` role (which doesn't seem to exist inside the user object?) differs from the `'moderator'` role?

[2021-11-28 16:41] damencho commented on #1800
https://xmpp.org/extensions/xep-0045.html#affil
https://xmpp.org/extensions/xep-0045.html#roles

[2021-11-28 16:43] damencho commented on #1800
This is a server-side operation and the change in affiliation and role is received back from the server and set role changes local state to reflect server-side state.

[2021-11-28 16:47] p-fruck commented on #1800
Ok I see, I will investigate further issues using the xmpp docs. Thank you!

[2021-11-28 16:47] #1800 closed

[2021-12-01 08:13] fippo commented on #1793
https://support.google.com/chrome/a/answer/6271282?hl=en has some instructions.
https://webrtc.github.io/webrtc-org/native-code/logging/ is better but a bit dated.

[2021-12-01 08:53] NewEraCracker commented on #1793
I reproduce this in meet.jit.si

[code]

And here's the jingle triggering the error: https://pastebin.com/NXqpR8ZB

[2021-12-02 11:21] NaileKaplan commented on #849
I have same problem. There is same device name in microphones section. When I choose different sound card with same name, the first one is always selected.

![Screenshot from 2021-12-02 14-14-15](https://user-images.githubusercontent.com/54005680/144412398-c84b992b-a18e-41e9-94ec-08ff05425b93.png)

I tried in meet.jit.si. Speakers section have no problem.I can select different sound cards with the

[2021-12-02 11:53] heysenn13 opened #1805 "different sound card with same name is not selected.."
There is same device name in microphones section. When I choose different sound card with same name, the first one is always selected.(PCM2912A...). But I can select different sound card such as PCM2902..

![Screenshot from 2021-12-02 14-22-23](https://user-images.githubusercontent.com/54005680/144416920-ba071547-6a97-4d28-b8d8-1409293b25a6.png)

I tried in meet.jit.si domain. Jitsi is last versio

[2021-12-03 07:21] aninditasadhukhan commented on #1793
Hi can you please update how can I resolve this issue? My jitsi meet version is 2.0.6173-1.

Conference call is not working in Google Chrome version 96. Remote user is showing audio/video muted, but originally it is unmuted. Can you please give some light on this? Also call is not ended properly, I am facing camera access issue as well.

Please let me know how can I fix this issue.

Thanks for you

[2021-12-03 14:24] jallamsetty1 commented on #1793
@aninditasadhukhan Are you able to reproduce this on meet.jit.si ? I am not running into the same issue with Chrome 96.0.4664.55 on macOS 11.6.

[2021-12-03 15:02] NewEraCracker commented on #1793
This seems specific to Chrome 96.0.4664.45 running on Windows systems.
Edge and Opera don't seem to be affected. Also tested Chrome 97 Beta and all works fine there.

@aninditasadhukhan Your issue may be different, maybe this fix is needed: https://github.com/jitsi/lib-jitsi-meet/pull/1798/files and confirm that you are using latest version of lib-jitsi-meet.

[2021-12-03 15:06] aninditasadhukhan commented on #1793
Nope I am not be able to reproduce it in meet.jit.si. But my self hosted application was working properly for 5 months in google chrome previous version. But from today my google chrome version upgraded to 96. In the updated version the application is not working. In the conference audio video is not coming Windows 10 desktop google chrome version 96 it is not working. It is working in firefox

[2021-12-03 15:33] aninditasadhukhan commented on #1793
@NewEraCracker: Thanks for your response. My lib-jitsi-meet is not the updated one. Can you please confirm if I upgrade lib-jitsi-meet to latest version the will it be compatible to jitsi-meet version 2.0.6173-1

[2021-12-03 18:29] NewEraCracker commented on #1793
@aninditasadhukhan It should work, however I recommend you check first in a staging environment. A thing to note is Google Chrome 96 removes plan-b support. Check that you are not using plan-b.

[2021-12-04 00:06] DanielMcAssey commented on #1793
To provide a bit of context @aninditasadhukhan the fix I have a PR open for was because a later version of lib-jitsi-meet changed how video types were sent to the JVB and only affects a video track which was added to the conference in a muted state, it most likely doesnt affect the standard jitsi meet instance, however if you have a custom implementation and you recently upgraded your JVB it may b

[2021-12-06 05:06] aninditasadhukhan commented on #1793
Nope I did not upgrade JVB. It was running in google chrome older versions for 5-6 months. But in google chrome 96 audio video is absolutely not working.

[2021-12-06 05:12] jbg commented on #1793
@aninditasadhukhan If you are using an old version of lib-jitsi-meet you are probably using plan-b which Chrome 96 removed support for. If this is the problem you will see errors in the browser console referring to Plan B. The solution is to update lib-jitsi-meet.

[2021-12-07 09:57] fippo commented on #476
overtaken by events

[2021-12-07 09:57] #476 closed

[2021-12-07 14:59] NewEraCracker commented on #1793
Still an issue with latest Google Chrome **96.0.4664.93** on Windows

[2021-12-07 22:56] NewEraCracker commented on #1793
I apply this patch on lib-jitsi-meet and p2p works: https://pastebin.com/aVUSXHwW

Sharing this information for public interest and disclaiming any copyrights or warranties explicit or implied.

[2021-12-09 09:51] xXTraceXx commented on #1572
Same issue. In previous version of lib-jitsi-meet api the video track was of type `camera` or `desktop` and this was very useful.

[2021-12-09 11:53] aninditasadhukhan commented on #1793
I am facing one issue in chrome 96 after upgrading lib-jitsi-meet to latest version. In a lobby enabled room when user tried to log in after accepting/rejecting the user "Knocking Participant list" pop up is not disappearing. It is freezing in the screen. Could you please help e in this regards? I am really not getting any solutions to fix this issue.

[2021-12-09 12:02] aninditasadhukhan commented on #1793
I am getting below errors in browser console.

2021-12-09T12:01:20.929Z [JitsiConference.js] <p2pJingleSession.terminate.reason>:  An error occurred while trying to terminate P2P Jingle session {code: undefined, reason: 'item-not-found', msg: 'Recipient not in room', session: 'JingleSessionPC[session=P2P,initiator=true,sid=327261fc8d5b]'}

[2021-12-09 12:53] tiofabby commented on #1623
Hi @jallamsetty1 I have same issue with latest version e9e3709. Participants can see and hear each other, everything is fine except when someone starts sharing. This makes sharing functionality broken.
Issue is always triggered when switching from video to desktop sharing and happens at line `localTracks[1].dispose()`

See my code (almost identical to default example)

[code]

Error message is the

[2021-12-09 14:40] NewEraCracker commented on #1793
After investigation most likely the error by @aninditasadhukhan is caused by this commit: 5a4232f9083fd1ef49c89fb164afdd9aff23dcaa where _stopP2PSession had its parameter format refactored.

For fix I suggest the following change on JitsiConference.js
```            if (reason) {```
to:
```            if (options.reason) {```

The effects, for the moment are just an error message that should not b

[2021-12-09 14:55] saghul commented on #1793
`reason` is destructured here: https://github.com/jitsi/lib-jitsi-meet/blob/8aa35dae401f32a7eafe2b7dec159827c4bb2a84/JitsiConference.js#L3552

So the variable will be defined at that point. Do you have a traceback?

[2021-12-09 14:59] NewEraCracker commented on #1793
What I am saying is prior to the refactor, at this point **reason** would in most cases be undefined: https://github.com/jitsi/lib-jitsi-meet/blob/8aa35dae401f32a7eafe2b7dec159827c4bb2a84/JitsiConference.js#L3599

After the refactor this is, if undefined, set to 'success'. I guess you could check for (reason !== 'success') also to avoid the error message.

[2021-12-09 17:31] tiofabby opened #1821 "Screen Sharing Issue"
Hi, I upgraded to a recent version of lib-jitsi-meet (e9e3709) and screen sharing stopped working. The video of desktop being shared is not showing up on other participant screens. My code is very similar to default example.js file.

There are no warning or error showing up when switching from cam to desktop in `switchVideo()` or from `onRemoteTrack()` when receiving the updated track, it just loo

[2021-12-09 18:04] DanielMcAssey commented on #1821
Could be related? https://github.com/jitsi/lib-jitsi-meet/pull/1798

[2021-12-10 07:02] saghul commented on #1793
Ah, I see what you mean now. Yep, will fix.

[2021-12-10 07:03] aninditasadhukhan commented on #1793
Please let me know what is the fix. I am stuck with this. Thanks,

[2021-12-10 07:07] saghul commented on #1793
Note this will remove the harmless error message, there will be no other functional change.

[2021-12-10 08:57] tiofabby commented on #1821
Hi @DanielMcAssey and @damencho
Looks like this one may be related indeed to #1798 . So I tried as suggested by @damencho in 1798 to run the latest commit from master (8aa53da , 2021/12/10)  to see if the fix added was fixing the screen sharing issue but looks like it is not, see screenshot below, my Video/Desktop stream is still received empty (muted) and nothing get displayed for participants:

[2021-12-10 10:05] #1793 closed

[2021-12-17 14:23] tiofabby commented on #1821
This issue just disappeared when fixing another wss connection issue between Client and Jitis platform. Closing the issue then.

[2021-12-17 14:23] #1821 closed

[2021-12-20 10:38] denis-ionov opened #1828 "JingleSessionPC setVideoCodecs task failed error"
Got error
`
2021-12-20T10:25:55.360Z [/index.js] <eval>:  JingleSessionPC[session=P2P,initiator=true,sid=90bf3398e5d9] setVideoCodecs task failed: OperationError: Failed to execute 'setLocalDescription' on 'RTCPeerConnection': Failed to set local offer sdp: Called in wrong state: have-remote-offer
`
on second participant joins the room. Then after few seconds got `ping timeout` error. Running self

[2021-12-20 12:50] denis-ionov commented on #1828
And for some reason, second participant can receive only two events (eg first participant mute|unmute own audio track, then second participant gets this events - track_mute_changed, and thats all, further events from first participant dont reach second participant). And if turn off p2p at conference options, no JingleSessionPC error appears, but `ping timeout` error persists (and events bug too)

[2021-12-21 14:07] Warmor opened #1831 "No audio in Firefox, when republishing stream"
## Description
Firefox won't play audio when the stream is published a second time. I made a repository with minimal code that reproduces the problem (https://github.com/Warmor/jitsi-simple-example)

## Current behavior
---

## Expected Behavior
---

## Possible Solution
---

## Steps to reproduce
- clone https://github.com/Warmor/jitsi-simple-example
- yarn install
- yarn dev
- open in Chrome
- o

[2021-12-23 08:06] Jacky-Rolo commented on #1384
@Fuzzyma
try to set connect option `disableBeforeUnloadHandlers` as `true`, will moves all Jitsi Meet `beforeunload` logic (cleanup, leaving, disconnecting, etc) to the `unload` event.

ref:
- https://github.com/jitsi/jitsi-meet/blob/master/config.js#L419
- https://github.com/jitsi/lib-jitsi-meet/blob/master/modules/xmpp/xmpp.js#L189

you may need double check your lib-jitsi-meet version, I think

[2021-12-23 08:09] Fuzzyma commented on #1384
The correct solution would be to be able to completely disable jitsis automatic unload bindings so you can do it manually. That way you would have full control

[2021-12-23 12:12] saghul commented on #1384
What are you missing with this option though? https://github.com/jitsi/jitsi-meet/blob/master/config.js#L419

[2021-12-23 13:31] Fuzzyma commented on #1384
The same problem people are having with beforeUnload can be applied to the unload event. So making jitsi not binding to any event and giving us the functions that need to be executed would give users the control they need for any scenario:

[code]

I am not needing any of those atm but with this approach there will be no more issues like this ever

[2022-01-03 10:12] saghul commented on #1828
I've seen this one too, but it was harmless because we re-negotiate the session right after IIRC. Other than seeing the warning, do you observe any problem?

What version of the images are you using?

[2022-01-03 15:48] jallamsetty1 commented on #1828
This  has been fixed in the latest version of the library.

[2022-01-05 16:32] hypergig opened #1837 "is there a version controlled location for external_api.js?"
I help out with a browser extension that integrates jitsi and for a while we use to dynamically import the lib from https://meet.jit.si/external_api.js, until one day the firefox reviewers took issue with this. They prefer to see some version controlled representation of the all external libs.

So I was wondering, is there a place in github where I can find the minified traspiled version of `exter

[2022-01-05 17:45] damencho commented on #1837
Please, when you have questions or problems use the community forum before opening new issues, thank you.

The external_api should be sourced from the deployment with which it is used. The version and implementation follow the releases in that environment. Using different versions may cause unpredicted problems.

[2022-01-05 17:45] #1837 closed

[2022-01-06 04:08] hypergig commented on #1837
My apologies and thank you

[2022-01-07 18:50] jadhavsaurabh commented on #1641
@thanhtuyenpkk How did you solved this issue?

[2022-01-08 08:47] jadhavsaurabh commented on #1649
@08BRYLL23 @damencho Any updates on this?

[2022-01-08 15:30] damencho commented on #1649
Do you reproduce with latest master? If yes, give us a simple example to reproduce it, thanks.

[2022-01-08 17:44] jadhavsaurabh commented on #1649
@damencho

https://meet.jit.si/libs/lib-jitsi-meet.min.js?v=5666.2368 I am using this minified lib-jitsi-meet
[code]

and I am listening to events like this
[code]
Expected behaviour would be:
`isTrackDesktopTrack? {TrackObject}, "desktop"`

But I am getting
`isTrackDesktopTrack? {TrackObject}, undefined`

But after expanding the object in browsers console I can see trackObject has videoType prope

[2022-01-10 06:43] jadhavsaurabh commented on #1572
@xXTraceXx Any update on this? I tried to handle this by accessing the videoType in setTimeout/setInterval It worked but still behaving weirdly

[2022-01-10 22:49] sapkra opened #1845 "isAuthenticatedUser seems to be `false` for JWT authenticated users"
## Description
I would expect that `isAuthenticatedUser` is `true` for all authentication methods. But maybe this is on purpose?

[code]

## Current behavior
`isAuthenticatedUser` is only `true` if a user has used a password to authenticate

[code]

[2022-01-10 23:03] damencho commented on #1845
What are the other authentication methods? Do you mean tokens ... that's kind of transparent for the ljm those are just params passed to the connection URL ... only username and password are used for xmpp authentication.
So that is only when credentials are available.

[2022-01-10 23:15] sapkra commented on #1845
Thank you for your quick response.
Yes, I mean e.g. JWT tokens, so I think you just answered the question. But in that case the variable naming is not that clear and should be renamed to something more descriptive or at least a comment should be added which clarifies it.

[2022-01-10 23:15] #1845 closed

[2022-01-10 23:24] damencho commented on #1845
I agree :)

[2022-01-16 14:45] jbg opened #1851 "With P2P disabled, unmuting the first participant's camera does not work if the second participant joined while it was muted"
### Description:

If P2P is disabled, and the second participant joins while the first participant's camera is muted, the first participant can no longer unmute their camera (the video tracks do not get added).

### Steps to reproduce:

1. Open https://meet.jit.si/testingp2pdisabled#config.prejoinPageEnabled=false&config.p2p.enabled=false
2. Mute the camera.
3. Open the same page in a second brows

[2022-01-17 12:01] NewEraCracker commented on #1851
@jbg Can this maybe be fixed by: https://github.com/jitsi/lib-jitsi-meet/pull/1798/files ?

[2022-01-17 12:09] DanielMcAssey commented on #1851
I havent tested it yet, but I believe that my PR is now obsolete as videoType is sent on presenceUpdate now.

[2022-01-17 12:10] jbg commented on #1851
videoType does appear to be sent correctly, but the tracks don't get added

[2022-01-18 09:52] Jacky-Rolo commented on #1649
Hi @damencho

I fork `jitis-meet (jitsi-meet_6835 )` and add some console.log when `TRACK_ADDED` event

https://github.com/Jacky-Rolo/jitsi-meet/blob/issue/%231649/conference.js#L2111-L2117
![image](https://user-images.githubusercontent.com/75233579/149913418-27607c1b-0da5-479e-a4ae-973cf8839518.png)

## re-produce steps
1. clone https://github.com/Jacky-Rolo/jitsi-meet/tree/issue/%231649
2. `npm

[2022-01-18 11:11] jadhavsaurabh commented on #1649
@Jacky-Rolo Hey, I think the `track` is passed by reference.
So, and they are changed somewhere in async way. Hence after `500ms` of timeout we have access to correct data.

Now doubt is, Is this a **correct/expected** behaviour or minor glitch in `lib-jitsi-meet` event handlers?

[2022-01-21 16:45] maxired opened #1858 "Bad error rejected when creating track ?"
## Description

Hi,

I am trying to understand potential errors when creating tracks.
I realized that the JitsiMeetJS.createLocalTracks can fail with different types of errors.
It can either fail with JitsiTrackError or with native types such as OverconstrainedError.

I believe this is an issue introduced during a refactoring

I think the issue might be here
https://github.com/jitsi/lib-jitsi-meet

[2022-01-28 17:47] #1294 closed

[2022-02-03 20:05] saibotma commented on #1179
According to https://github.com/jitsi/jitsi-meet/blob/df6eff880485a0b2c56e37c7639bd3212c641ac9/config.js it is now possible to set `opusMaxAverageBitrate` (also via a config query parameter).

[2022-02-04 05:55] saghul commented on #1179
Oops, forgot to close this one. Indeed we have implemented those options.

[2022-02-04 05:55] #1179 closed

[2022-02-04 11:34] laurenzfg opened #1871 "[P2P] Video Traffic To Jitsi Video Bridge in P2P Session"
*This Issue tracker is only for reporting bugs and tracking code related issues.*

Before posting, please make sure you check community.jitsi.org to see if the same or similar bugs have already been discussed. General questions, installation help, and feature requests can also be posted to community.jitsi.org.

## Description
When we establish a peer to peer call between two Jitsi Meet Android cli

[2022-02-04 15:43] saghul commented on #1871
A quick test you can do is disable P2P. That way there will only be the JVB. Do you observe the same traffic pattern?

[2022-02-04 15:43] saghul commented on #1871
Also, ping @jallamsetty1

[2022-02-04 17:14] jallamsetty1 commented on #1871
Are the android clients using mobile browser or using the react native apps ?

[2022-02-05 06:35] bukharin opened #1873 "No SSRC lines found in remote SDP for remote stream"
## Description

I found a lot of errors on source-addition in our Sentry logs with latests `lib-jitsi-meet`

[code]

[code]

## Current behavior

Problem was introduced in [this commit](https://github.com/jitsi/lib-jitsi-meet/commit/989b7165978cc2daec7002b066c38cb49f581adc)

When participants leaves the conference - `ljm` set port to `0` for m-line to reuse them for new sources, but later could no

[2022-02-05 13:48] laurenzfg commented on #1871
The clients use the native app obtained via F-Droid.

[2022-02-05 13:58] saghul commented on #1871
Any chance you can test the latest version (21.6.x) ?

[2022-02-05 14:00] laurenzfg commented on #1871
Sure Thing. I'll:
- run 21.4.1 version with P2P disabled as suggested
- run 21.6 version with P2P enabled

[2022-02-05 14:19] saghul commented on #1871
Also try with it disabled pl.

[2022-02-05 15:24] laurenzfg commented on #1871
Version 21.4.1 with P2P disabled
![Jitsi_rtt10ms_pfifo5_20220205-15h23m22s](https://user-images.githubusercontent.com/7126826/152647771-6e0614ef-b281-4d59-acc2-42eddfacf01c.png)

Version 21.6 with P2P enabled
![Jitsi_rtt10ms_pfifo5_20220205-15h32m21s](https://user-images.githubusercontent.com/7126826/152647779-972cc11a-4fe3-4ff7-b32f-8f76d92b5a22.png)

Version 21.6 with P2P disabled
![Jitsi_rtt10m

[2022-02-05 15:36] saghul commented on #1871
Looks like they send way less traffic to the server when P2P is disabled. Is there no datachannel problem? That would explain why the JVB connection doesn't ramp up.

[2022-02-05 15:41] laurenzfg commented on #1871
Only downstream (phones' perspective) is plotted.

[2022-02-05 15:49] laurenzfg commented on #1871
But yes, it is odd:
- That JVB only sends a ~900kbit stream
- we have the same JVB stream PLUS a P2P video stream if P2P enabled

So thank you so far for assessing the error with me. Is there anything I can do to help you debug the issue?

[2022-02-05 17:04] saghul commented on #1871
We'll try to reproduce the problem here and see what's going on.

[2022-02-05 17:18] damencho commented on #1873
I think this was fixed with https://github.com/jitsi/lib-jitsi-meet/commit/161835ec58a3e2592cb0e00ec10a3dda4fda11c3

[2022-02-05 17:47] bukharin commented on #1873
@damencho I reproduce it on latest lib-jitsi-meet commit

[2022-02-05 17:50] jallamsetty1 commented on #1873
This hasn't been fixed yet. It is a non-issue since the browser fires these 'track' and 'trackremoved' events when an m-line is rejected by setting the port 0 and the remote ssrcs are removed from the m-line. These do not affect client's functionality in any way.

[2022-02-07 11:39] garyhuntddn commented on #1683
Just seen that you e been doing a load of work on this - @saghul would you be up for a chat about how I can help out in the next steps?

[2022-02-07 11:49] saghul commented on #1683
Oh, I forgot we kept this open! The first bits of TS code have already made it to the repo and the plan going forward is to write new code in TS and migrate the old one eventually.

Thanks for your help with the types!

If you think there is room for further improvements please open an issue and let's look at them! At least the core part is done now.

[2022-02-07 11:49] #1683 closed

[2022-02-08 10:47] zsinba commented on #1783
Updated the IOS version and made some improvements, but it didn't fix the problem.  I think it's IOS.

[2022-02-08 10:48] zsinba commented on #1782
The problem seems to have disappeared.  After the upgrade, this problem did not occur again.

[2022-02-08 10:48] #1782 closed

[2022-02-09 11:32] saghul commented on #1871
I just reproduced this on a personal server (where it's easy for me to run tshark). According to the logs we do suspend the media over the bridge, but I see audio / video traffic going to it.

[2022-02-09 21:21] #1851 closed

[2022-02-10 13:18] bukharin opened #1879 "Firefox doesn't playing first unmute from another participant"
## Current behavior

Firefox does no playing first unmuted audio track form another participant

## Expected Behavior

No audio issues

## Possible Solution

??

## Steps to reproduce

- Start join to conference using Firefox or Chrome (no matter), **with pre-join page enabled**
- Turn off the microphone before join
- Join the conference
- Open second Firefox and join to the same conference
- Unmu

[2022-02-10 14:31] #1879 closed

[2022-02-11 19:40] leonardolang opened #1883 "Processing of RTP stats failed: TypeError: Cannot read properties of undefined (reading 'VP8')"
## Description
lib-jitsi-meet is throwing an exception when attempting to collect RTP stats:
[code]

I tracked this down, and it happens only if `config.js` does not have a `videoQuality.<codec>` entry configured.

The default entries only configure `high`/`standard`/`low` bitrates and not per-codec ones, see: https://github.com/jitsi/lib-jitsi-meet/blob/master/modules/RTC/TPCUtils.js#L45

The cod

[2022-02-11 20:38] leonardolang commented on #1883
Sorry, my mistake! Just realized it was an incorrectly merged file when collecting more logs. It's all good. 👍🏻

[2022-02-11 20:38] #1883 closed

[2022-02-14 18:11] jallamsetty1 commented on #1828
Closing this as the issue has been resolved already.

[2022-02-14 18:11] #1828 closed

[2022-02-14 18:54] jallamsetty1 commented on #1649
Please note that `replaceTrack` needs to be called when you are replacing a camera track with a desktop track instead of calling `removeTrack` and `addTrack`. At the peerconnection level, the track is always being replaced so that there are no SSRC changes and no signaling is required. It is considered as a single source and therefore a TRACK_ADDED event won't be fired on the peer.

[2022-02-14 19:09] jallamsetty1 commented on #1649
Also, since only one video stream is sent on a media connection in the current implementation, once the track gets added, it should only be replaced. Once the multi-stream support lands wherein you will be able to send two or more video tracks, you can then use removeTrack and addTrack. Once a local source is added, any changes to the underlying track should be made by calling replaceTrack. addTra

[2022-02-14 20:08] #1649 closed

[2022-02-15 04:14] Jacky-Rolo commented on #1649
First, many thanks @jallamsetty1 's hard work.

Second, I want to ask, since `replaceTrack` would **NOT** fire `TRACK_ADDED` event, How can we know User switch to `Desktop` from `Camera` or in reverse ? What's a appropriate way to handle it ? Via `JitsiTrack`'s `TRACK_VIDEOTYPE_CHANGED` event ?

Many thanks !!

[2022-02-15 07:36] dkgrieshammer commented on #1649
@Jacky-Rolo yes you would use TRACK_VIDEOTYPE_CHANGED; I make a [PR for the docs](https://github.com/jitsi/handbook/pull/276) already. Apparently even though the event is fired pretty fast it takes some time for the actual switch in the media stream to happen - at least for us there is a significant timeout on the video stream until other participants actually see the desktop. Interestingly, this

[2022-02-15 08:22] Jacky-Rolo commented on #1649
Thanks your sharing @dkgrieshammer , I noticed this when I debug this issue, I feel UX are real bad.

I will test latest version recently, thanks every one.

[2022-02-18 12:22] garyhuntddn opened #1890 "TypeScript conversion"
## TypeScript conversion and related pull requests

I suggest we have a single issue to collate issues around the conversion work I'm planning on doing (for anyone else - please feel free to help out).

I've got 30+ PRs prepared for a bunch of simple conversion from .js to .ts for the constants and the likes.

I've also written a policy document in a separate PR which needs a good review to see if

[2022-02-18 13:58] saghul commented on #1890
I like the approach of small PRs, easier to make sure we don't miss things during review.

Tests would most certainly help too!

I'd suggest we get started with a PR or two and adjust the plan as necessary. It's virtually impossible to have everything fully thought through, so we can adapt.

Please @ me for a review when you post the first one and let's take it from there!

[2022-02-20 08:42] Fuzzyma commented on #1572
@saghul can we at least get a workaround for this? Is there any event we can listen to so we can react once the videoType is available?

[2022-02-20 13:29] garyhuntddn commented on #1890
3x PRs in place

* one with the brittle tests - https://github.com/jitsi/lib-jitsi-meet/pull/1891
* one with the proposed typescript policy - https://github.com/jitsi/lib-jitsi-meet/pull/1892
* the quick one I did for the first conversion - https://github.com/jitsi/lib-jitsi-meet/pull/1875/files

I have 30+ additional PRs that follow this pattern that I'll submit if we're happy with what I've done

[2022-02-20 13:34] garyhuntddn commented on #1890
Hmm - hold tight - I'm hitting a build error in jenkins - will go and investigate

[2022-02-20 13:41] garyhuntddn commented on #1890
Cracked it - an issue with the packages.lock file - now sorted and the build is successful

[2022-02-21 12:42] saghul commented on #1572
I don't know sorry, I have not been involved in this particular bug. @jallamsetty1 thoughts? (please read up)

[2022-02-21 12:44] Fuzzyma commented on #1572
I researched and it seems like the newly documented `TRACK_VIDEOTYPE_CHANGED` is what I was looking for. I can listening to it and adapt as needed if the videoType is undefined

[2022-02-21 12:46] garyhuntddn commented on #1890
@saghul would you consider this change to the package file? It's a bit lazy on my behalf, but will ensure that my future PRs include the updated .d.ts files. The downside is a bit of CPU effort running the typescript compiler.

[garyhuntddn:gh/ts/patch-039-tsc-before-karma](https://github.com/jitsi/lib-jitsi-meet/pull/1893)

I'm also going to wait until PR 1891 is merged before I rebase the other

[2022-02-21 12:58] garyhuntddn commented on #1890
Right - I've got a process for updating these branches and PRs - apologies for the number of them - but hey ho :-)

[2022-02-21 12:58] saghul commented on #1890
I'd rather not have that one, sorry. And thanks a ton for the PRs!

[2022-02-21 13:02] damencho commented on #1572
Isn't that fixed with https://github.com/jitsi/lib-jitsi-meet/commit/79afa717178c8e79390af2178870358bbf17759d

[2022-02-21 13:04] garyhuntddn commented on #1890
No probs - I've just added a script that runs does "tsc && npm run test" that does what I need :-)

[2022-02-21 13:05] saghul commented on #1890
Thanks for understanding.

[2022-02-21 16:43] garyhuntddn commented on #1890
That's the bulk of the PRs in place - take a quick look at my comment against the one https://github.com/jitsi/lib-jitsi-meet/pull/1915

[2022-02-21 16:44] saghul commented on #1890
Dang, we got some work to do reviewing! Thanks a ton for all of this!

[2022-02-21 16:45] garyhuntddn commented on #1890
The next steps are going to be much harder, and some will require clean-up of the js first

[2022-02-22 15:15] saghul commented on #1871
We got this one fixed in https://github.com/jitsi/lib-jitsi-meet/pull/1926 -- New Android and iOS betas are out with the fix, can you please give them a try? (the settings view is now dark, that's an indication that you are running the latest beta).

[2022-02-22 19:28] laurenzfg commented on #1871
looks good to me! Thanks for delivering a fix so swiftly! Closing this.

BTW it would be nice if you'd provide the beta APK on Github or your web page / or provide a build script to build from master. I ended up downloading it via Gogle Play to my phone to extract the APK.

[2022-02-22 19:28] #1871 closed

[2022-02-22 22:53] saghul commented on #1871
You can always run `./gradlew assembleRelease` from the android directory. We use Google Play for testing, sorry, adding more to the process is not possible.

[2022-02-23 10:32] ckeiner opened #1930 "TRACK_REMOVED Event Fired Too Late"
## Description
When disconnecting from a `JitsiConnection` and opening a new one without refreshing, the HTML audio tag for other users stays in the HTML and gets removed when the `TRACK_REMOVED` event is fired exactly 16 seconds after the `CONNECTION_DISCONNECTED` event is fired.

If the disconnecting user decides to join the initial room again in between these 16 seconds, the HTML audio tags of

[2022-02-23 11:42] saghul commented on #1930
You should first leave the JitsiConference, are you doing that?

[2022-02-23 12:34] ckeiner commented on #1930
Yes. We first call `JitsiConnect.disconnect()` and then create a new connection via `new JitsiMeetJS.JitsiConnection(appId, jwtToken, options)`

[2022-02-23 12:35] ckeiner commented on #1930
Or do you mean that we first have to call `JitisConference.leave()` before disconnecting? That is not something we do first. Let me try it out.

[2022-02-23 13:10] saghul commented on #1930
Yes, that's what you should be doing.

[2022-02-23 22:40] dkgrieshammer opened #1931 "20 Second Delay on replaceTrack()"
I checked community board, Issue not reported

## Description
I'm experiencing a harsh delay of around 20 to 30 seconds on remote users end when  calling `replaceTrack(oldTrack, newTrack)`after creating a local desktop track; interestingly, when changing back from desktop to camera the switch happens in an instant.
Im fighting with this issue since 2 weeks now and am kind of lost, so any help or h

[2022-02-23 22:47] dkgrieshammer commented on #1572
it should be;
previous workaround `video.videoType = video.videoType === "desktop" ? "desktop" : "camera" //set videoType directly` no longer needed 🙏

[2022-02-24 06:34] Fuzzyma commented on #1572
No the fix just sets a default and that default is sometimes wrong. You still need to listen for the video type change event to rectify that if a wrong video type was set

[2022-02-24 08:46] NewEraCracker commented on #1931
If you search the minified bundle for `{version:"` you'll find it is built currently from commit bafd6c7b (Feb 3, 2022) so it lacks the latest bug fixes.

I'd recommend you build latest lib-jitsi-meet version from source and try with that.

[2022-02-24 16:56] dkgrieshammer commented on #1931
So, I just tried using the example in docs folder with a freshly comiled lib-jitsi-meet; remarkably the example doesn't use `replaceTrack`to switch to desktop but is using `dispose()` and `room.addTrack()` -  any ideas why that ii?

So I duplicated the switchVideo function in the example to use replaceTrack and I think I found the issue - without explicit call to oldTrack.dispose() the replaceTrac

[2022-02-25 15:25] jallamsetty1 commented on #1572
Why do you think the default is sometimes wrong ? The client adds the videoType in presence only when it's different from 'camera'. If it is something different than 'camera' then it should be present in the incoming presence for the remote peer and will be read correctly when the remote track is created.

[2022-02-25 15:30] #1572 closed

[2022-02-25 17:18] dkgrieshammer commented on #1572
I also have the issue that when I initiate screen sharing (and calling `dispose` of oldTrack before, which feels weird but seems to be the only way to circumvent a massive timeout before track change on receiver side), the inital type of track received on TRACK_ADDED is apparently sometimes wrong the first time sharing is started; it's videoType = 'camera' even though its a desktop track

The way

[2022-02-27 15:59] garyhuntddn commented on #1890
A question about public vs internal code...

I feel like we could do with a definition of which parts of the code are part of it's public API (and therefore won't change without a major version jump) vs. code that is internal to the project and therefore subject to change.

Any thoughts on how we should make this clear to those consuming the library? eventually I guess we can re-export at the inde

[2022-02-28 08:53] ckeiner commented on #1930
I was finally able to try it out. It seems to do the trick or at least show further error messages. They are most likely also related to how we are switching rooms. I will close this issue for now and open new ones should I think I have found another bug.

Thank you very much for the help @saghul :)

[2022-02-28 08:53] #1930 closed

[2022-02-28 09:20] saghul commented on #1890
Makes sense.

I think so far we have used the `_functionName` syntax to express that. I guess we could turn that into `private` in TS terms.

Or do you have anything else in mind?

[2022-02-28 10:11] saghul commented on #1890
Ah, I see what you mean. This is actually our public API: https://github.com/jitsi/lib-jitsi-meet/blob/master/JitsiMeetJS.js

Anything not exposed there or publicly accessible through exported objects is private.

Not sure how we can annotate stuff to reflect this though.

[2022-02-28 10:23] garyhuntddn commented on #1890
Yeah - that was what I was getting at - seems to be much harder in
javascript due to the use of modules both internally and externally.

On Mon, 28 Feb 2022 at 10:11, Saúl Ibarra Corretgé ***@***.***>
wrote:

--

*Gary Hunt*

*Senior Developer, Data Delivery Network Ltd**Mob: 07970 908428*

*DISCLAIMER :*This Email contains confidential information some or all of
which may be legally privileged.
I

[2022-02-28 10:35] saghul commented on #1890
Hum. We could use `stripInternal` and annotate stuff with `/** @internal */`.

[2022-02-28 11:01] garyhuntddn commented on #1890
That sounds like a good plan - I'll adopt that and see how we get on

On Mon, 28 Feb 2022 at 10:35, Saúl Ibarra Corretgé ***@***.***>
wrote:

--

*Gary Hunt*

*Senior Developer, Data Delivery Network Ltd**Mob: 07970 908428*

*DISCLAIMER :*This Email contains confidential information some or all of
which may be legally privileged.
It is intended for the recipient only.
If an addressing or transmiss

[2022-03-04 19:28] garyhuntddn opened #1951 "Building on windows - issue with webpack string-replace-loader"
## Description
I've got a personal branch where I'm attempting to use cross-env to replace the npm run script with one that is cross-environment.
The first bit has been easy - I know cross-env and it's easy to use.
The problem I have though is that the use of "string-replace-loader" in "webpack-shared-config.js" is failing and I can't see why. Anybody know an answer and want to help?

## Current b

[2022-03-04 19:38] saghul commented on #1951
We don't support building in Windows.

I'd be hesitant of even taking patches because it would send the wrong message, we don't build nor test on Windows so we really can't claim to support it.

If the patch is not too involved and we can test it with GH actions maybe we can reconsider.

[2022-03-04 20:05] garyhuntddn commented on #1951
I don't disagree with the policy but the project is actually really close to working with a tiny change - it's just the "string-replace-loader" that's failing and I can't understand why :-) I'm 99% sure that the webpack part of things will work happily on Windows but something in the config for lib-jitsi-meet but be causing it to not apply

[2022-03-04 20:14] garyhuntddn commented on #1951
Ha ha - I've cracked it... it's the darn slash ;-)

[code]

needs to be

[code]

on Windows (what a pile of pooh it is using the wrong kind of slash!)

[2022-03-04 20:21] saghul commented on #1951
Nice! Wasn't there a constant in the path module?

[2022-03-04 20:42] garyhuntddn commented on #1951
From a bit of reading around the subject it's good practice to use path.join and path.resolve in webpack config files - so that's what I've done in https://github.com/jitsi/lib-jitsi-meet/pull/1952.

Will let you decide whether to accept the PR or not.

[2022-03-04 21:18] saghul commented on #1951
Looks good and small, thanks for making the change!

[2022-03-06 20:26] NewEraCracker commented on #1951
Additional to #1952. There are a few additional changes needed to build on windows. This regex needs to be made platform independent: https://github.com/jitsi/lib-jitsi-meet/blob/master/webpack-shared-config.js#L32

My suggestion:
[code]

If you run this command in the git bash console you'll get a build - need to have yarn installed:
`export LIB_JITSI_MEET_COMMIT_HASH=$(git rev-parse --short HEAD

[2022-03-06 22:19] garyhuntddn commented on #1951
I was wondering about the best way to deal with that regex, at a minimum it needs a comment to say what it’s purpose is.

I’ve two PRs in progress again js-utils and jitsi-logger which might make that who regex redundant which is why I haven’t proposed anything yet.

Good to know you have it working with yarn though - contrary to what I’d thought i don’t have a clean solution using cross-env yet.

[2022-03-07 04:17] suraj-desai commented on #1631
Hi, @Jacky-Rolo @erengms @atomjump
I am trying to integrate lib-jitsi-meet in react native project. I am not able to find any documentation regarding it.
If u can point me to the documentation or help me in getting started or point me to any working repo, would be much appreciated.
Thanks

[2022-03-07 05:17] Jacky-Rolo commented on #1631
you need more explicit what's you looking for ?

To integrate jitsi, official project is a workable example
- https://github.com/jitsi/jitsi-meet

[2022-03-07 06:30] saghul commented on #1631
This issue was fixed in https://github.com/jitsi/lib-jitsi-meet/commit/a8e3a5748902c26ca9cf2ffcd078b2cec16e3216

[2022-03-07 06:30] #1631 closed

[2022-03-07 19:40] atomjump commented on #1631
Hi Saghul, has this change been brought live on Jitsi Meet /the Jitsi appstore, yet?  We tested it this morning from one Android phone to another (both running the latest public version of the app), and it still seemed to have the echo.

[2022-03-07 20:43] saghul commented on #1631
This is fixed in the apps version 22.0.1. Android is rolling out but it's not fully rolled out yet, so make sure you check the version, you might have not received the update yet. We hope to complete the rollout this week.

[2022-03-08 18:38] garyhuntddn opened #1953 "The build process does not remove files from the types/auto folder"
## Description
The build process automatically generates typescript .d.ts definition files, inferring as many types as possible and using the jsdocs to augment them.

Files are generated that map to the .js and .ts files in the project.

They are placed in the types/auto folder.

## Current behavior
If a .js or .ts file is deleted and a build performed the associated .d.ts is not affected

## Expe

[2022-03-08 18:38] garyhuntddn commented on #1953
I plan on tackling this one unless somebody else gets there first

[2022-03-08 18:57] saghul commented on #1953
Go for it Gary!

[2022-03-08 19:35] garyhuntddn commented on #1953
Turned out to be incredibly simple - https://github.com/jitsi/lib-jitsi-meet/pull/1954

[2022-03-08 19:55] saghul commented on #1953
Awesome, merged!

[2022-03-08 19:55] #1953 closed

[2022-03-12 04:17] Jacky-Rolo commented on #1931
For now, a word around would be use `removeTrack + addTrack (to get new track)`  instead of `replaceTrack` and run a infinite while loop to check videoType

[code]

Use `removeTrack + addTrack` (instead of replaceTrack) will have some cost, see this issue to know more detail
- https://github.com/jitsi/lib-jitsi-meet/issues/1649

Unfortunately, `issue 1649` did NOT fully fixed, so we still need whi

[2022-03-12 05:16] Jacky-Rolo commented on #1649
I tested `v1389` and `7032`, unfortunately, this issue did NOT fix yet.

I fork `Jitsi-meet` (lib-jitsi-meet `v1389`) still able re-produce it
- https://github.com/Jacky-Rolo/jitsi-meet/tree/issue/incorrect_videoType_when_sharing_screen

I add some console.log when `TRACK_ADDED`
https://github.com/Jacky-Rolo/jitsi-meet/blob/f24ede822c58b644e0efc6cda0543aa4944eb9e4/conference.js#L2123-L2132

<img w

[2022-03-12 19:38] damencho commented on #1649
@jallamsetty1 We don't get the track type with the signalling from jicofo right?

[2022-03-12 19:39] damencho commented on #1649
@jallamsetty1 will that be different with the multi stream support?

[2022-03-14 17:11] garyhuntddn commented on #1951
I think we've done everything worth doing on this for now so I'll close the issue

[2022-03-14 17:13] garyhuntddn commented on #1683
Not sure if this is true of anyone else - but I get this issue pinned at the top of the issues list. I'd have thought it would have disappeared when you closed it and I can't seem to get rid of it.

Is the pinned option something you control?

[2022-03-14 19:47] saghul commented on #1683
Yep we can set the pinned issues. Now that this is closed and work is underway I'll close this.

[2022-03-15 11:37] laurenzfg opened #1960 "[P2P] Is Jitsi using AdaptiveBweThreshold?"
*This Issue tracker is only for reporting bugs and tracking code related issues.*

Before posting, please make sure you check community.jitsi.org to see if the same or similar bugs have already been discussed. General questions, installation help, and feature requests can also be posted to community.jitsi.org.

Howdy!

I hope this bug report fits in this repo, since it may be somewhat of a feature

[2022-03-15 12:26] damencho commented on #1960
Just some notes:
- when you are using p2p mode, any bandwidth estimations will be done inside the browser, if android app is used this is inside webrtc implementation. No jitsi or lib-jitsi-meet code involved.
- when the bridge is used and it is not directly between the two peers, any bandwidth estimation that is done is inside the videobridge, again nothing to do with lib-jitsi-meet.

[2022-03-15 12:34] laurenzfg commented on #1960
Thanks @damencho I am aware of that. My measurements are all P2P and hence use the Google Congestion Control rate controller. I was unsure whether I wanted to raise this issue with you or with the webrtc.org tracker. As I measured that your product performance diverges from the WebRTC research, I chose to raise with you. I posted here as https://github.com/jitsi/webrtc is just used by one engineer

[2022-03-15 12:54] damencho commented on #1960
The jitsi/webrtc code is fork webrtc and is used for mobile builds.
In my opinion, any fixes should be done in that code, but not in the fork but upstream.

[2022-03-18 08:22] maxired commented on #1858
closed by https://github.com/jitsi/lib-jitsi-meet/pull/1940

[2022-03-18 08:22] #1858 closed

[2022-03-19 11:40] fippo commented on #1960
@laurenzfg the [discuss-webrtc mailing list](https://groups.google.com/g/discuss-webrtc) is the right place but it is hard to get definitive answers there (and beware, the moderation for first-time posters takes more than a week at times), the tracker isn't.

In general the BWE is one of the more opaque areas of libwebrtc and I haven't seen much public discussion on the tuning that happened over t

[2022-03-19 11:57] laurenzfg commented on #1960
Thx for the pointer @fippo , I'll turn to the mailing list :)

[2022-03-19 11:57] #1960 closed

[2022-03-29 18:53] amjidkhanmohmand opened #1972 "UI Customization"
Hello Team JITSI!
I am trying to add jitsi as a feature to my app. All I wanted is to customize the UI like I will allow the users to be speakers in the meeting, while other users can just raise a hand and send messages. Is there any way to achieve such a thing in an Android App? Kindly help me out, your help would be highly appreciated. Below is my code.
Thanks and Regards
Amjid Khan Mohmand

`
p

[2022-03-29 19:09] damencho commented on #1972
Please, when you have questions or problems use the community forum before opening new issues, thank you.

[2022-03-29 19:09] damencho commented on #1972
What doesn't work with your code?

[2022-03-29 19:14] amjidkhanmohmand commented on #1972
Thanks for the immediate reply, I will use the community forum next time. The issue is that I am unable to customize the UI in the android app. Furthermore, If I use the share screen function the PIP is not working where on the other hand when I use it before screen sharing it works fine, this is the SDK details that I am using
`implementation ('org.jitsi.react:jitsi-meet-sdk:3.+') { transitive =

[2022-03-29 19:17] amjidkhanmohmand commented on #1972
basically what I needed is to customize the UI in such a way that only the users which I have allowed to be a speaker in meetings will have the access to speak, video call, share screens, etc. while other users can only listen, raise a hand, send a message, and see participants only.

Q. Is there any way to achieve it in android or does it has to be handled on the server?

[2022-03-29 19:20] damencho commented on #1972
This sounds like enabling AV moderation in the meeting. But that option is available only inside the UI and cannot be controlled from outside the SDK for the moment. Any PRs are welcome.

[2022-03-29 19:25] amjidkhanmohmand commented on #1972
hmm, is there any way to call a function when unmute button is clicked in the participant's list? I need to call a custom function there

[2022-03-29 19:26] amjidkhanmohmand commented on #1972
I think I can handle the UI with a trick if I know how to call a function on the unmute button

[2022-03-29 20:02] saghul commented on #1972
make sure you are using SDK 5, version 3 is really old.

The app is written in React Native, in order to modify the UI you need to modify the JS source (in the jitsi-meet repo) and rebuild the SDK. See: https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-android-sdk

[2022-03-29 20:02] #1972 closed

[2022-03-29 20:07] amjidkhanmohmand commented on #1972
Thanks a lot to both of you, you have provided so much guidance @saghul, @damencho

[2022-03-31 14:13] fippo commented on #1960
did you post? I may have someone interested in replying :-)

[2022-03-31 15:07] laurenzfg commented on #1960
I had to actually backlog this since I have to finalize my thesis and don't have time anymore to e mail back-and-forth via a moderated mailing list.

[2022-04-23 14:58] fippo commented on #1030
all gone - and more than two years later the "downstream project" that has been blocking the removal has been updated.

[2022-04-23 14:58] #1030 closed

[2022-04-24 13:49] laurenzfg commented on #1960
https://groups.google.com/g/discuss-webrtc/c/CuTQ3Lah4OU

[2022-04-28 12:20] psi-4ward opened #1997 "Sometimes others don't receive video/screenshare"
Hey Mates,
_sometimes_ other participants do not receive the video / screenshare.

* No JS Errors
* WebRTC shows outgoing (on sender) **and** incoming (receiver) tracks
* Seems the `presence` messages gets **not** send in some cases.

We assume a timing problem of the appearance of the tracks in `peerconnection` and `rtc`. The tracks should first be in `peerconnection` cause of the `add-source` ms

[2022-04-28 18:29] jallamsetty1 commented on #1997
If the local track has already been added to the peerconnection, the presence will be sent if it needs to be updated - https://github.com/jitsi/lib-jitsi-meet/blob/master/JitsiConference.js#L3666
Can you pls add steps for reproduction ?

[2022-04-28 19:47] jallamsetty1 commented on #1997
I can change that to use the local tracks from the jingle session but they are ideally in sync. Any source that gets removed from the peerconnection gets removed from the rtc local tracks as well. Are you seeing this issue on a custom client using the library or on a jitsi-meet client ?

The track mute state needs to be updated in presence when a track is removed https://github.com/jitsi/lib-jitsi

[2022-04-28 21:28] smilingthax commented on #1997
### Part 1
The basic issue is that in a Conference occasionally when User A starts desktop sharing, but at User B the stream does not appear.
Looking at the JS logs and XMPP messaging, we know that User B does receive the `source-add`, but does not receive a presence update.
We can see `APP.conference._room.participants[...sender-ep-id...]._tracks[0] .muted=true, .videoType='camera'` (expected wou

[2022-05-02 14:01] jallamsetty1 commented on #1997
@smilingthax Thanks for providing the details, is this happening on both p2p and jvb connections ?

[2022-05-02 14:19] smilingthax commented on #1997
We only use jvb connections, no p2p.

[2022-05-02 16:38] jallamsetty1 commented on #1997
@psi-4ward, I have merged a possible fix. Can you let me know if this fixes your issue  ? I have no way of reproducing this exact case but it fixes another related issue.

[2022-05-02 20:34] psi-4ward commented on #1997
Looks good! Our qa engineer tested screenshare toggling about 50x with no issues so far.

[2022-05-02 20:34] #1997 closed

[2022-05-04 10:04] zsinba commented on #1783
Is there any progress on this?

[2022-05-04 11:11] saghul commented on #1783
You ever replied to the question about what device ID you selected in getUserMedia.

[2022-05-04 13:45] maxired commented on #1931
I personally face similar issues with sometimes a screen share being slow to be visible to remote participants.
One thing I noticed is the bandwidth estimator is slow to ramp up. This is visible by looking at the JVB logs.
Not saying this is your issue here, but that might be worth checking

[2022-05-15 08:41] rosa2 opened #2007 "Study says that Jitsy when muted still sends audio"
## Description
The [University of Wisconsin–Madison](http://www.wisc.edu/) published an [study](https://news.wisc.edu/youre-muted-or-are-you-videoconferencing-apps-may-listen-even-when-mic-is-off/) saying that different apps/browser services for video-conference when muted still sends audio. This was re-studied by the Loyola University Chicago, [conducted a more formal investigation](https://wiscp

[2022-05-15 10:10] saghul commented on #2007
Jitsi does not send any audio when you are muted.

What the study found is that we don't close the microphone when muting. I don't know if that is the case for all the apps they checked.

There are technical and not so technical reasons for doing this:

- speed when opening / closing the audio device
- avoiding the need for renegotiations in certain cases
- avoid audio profile changes when using B

[2022-05-15 16:21] rosa2 commented on #2007
Thanks for the fast answer :smile_cat:
Sorry for my English, I explain badly.
In Spanish
https://unaaldia.hispasec.com/2022/04/las-apps-de-mensajeria-y-videoconferencia-te-escuchan-incluso-cuando-estas-muteado.html
So you don't send the audio.
Maybe it is a good idea that one of you go to the presentation.
I will tray to get the video since I am very interested on this and privacy.

Have a good da

[2022-05-15 19:10] saghul commented on #2007
No worries, I could understand you perfectly fine.

This news has made the rounds over the past few weeks, and IIrC there was one single app which still sent audio elsewhere, the rest did what we do, which at this point is industry standard behavior.

I'm closing this because there nothing really actionable. Like I'm the case of video muting, it doesn't matter what the software promises, if you ne

[2022-05-15 19:10] #2007 closed

[2022-05-27 16:50] Dan2552 opened #2020 "Example inconsistently works"
## Description

The example located in `doc/example` (https://github.com/jitsi/lib-jitsi-meet/tree/master/doc/example) only works sometimes.

In contrast, we see it works consistently when all clients are using the iframe version.

* Image on the left is of console when it's successful
* image on the right is of console when it's unsuccessful -- we don't get audio/video and according to the logs i

[2022-05-27 19:18] damencho commented on #2020
If you are using meet.jit.si you need to pass ?room= parameter, or you can end up on different shards and not see each other.

[2022-05-27 19:19] damencho commented on #2020
https://github.com/jitsi/jitsi-meet/blob/0c44b9a478336849d01e488c428db8551dabb7ac/connection.js#L107

[2022-06-02 07:26] archer87pl opened #2025 "[modules/xmpp/strophe.util.js] <Yo.ct.Strophe.log>: Strophe: error: Cannot set properties of undefined (setting 'shard')"
I am getting error after trying to use lib according to documentation:
![image](https://user-images.githubusercontent.com/13657224/171576476-9b53b6bc-4f64-4382-8764-860c2ac28637.png)

## Description
---

## Current behavior
---

## Expected Behavior
---

## Possible Solution
---

## Steps to reproduce
---

# Environment details
---

[2022-06-02 07:39] archer87pl commented on #2025
Many thanks! Adding `deploymentInfo: {}` solved the issue.

[2022-06-02 07:41] #2025 closed

[2022-06-02 14:40] saghul commented on #2025
Ah, that's why I saw it fixed in my copy of the code :-)

[2022-06-08 16:40] DanielMcAssey opened #2029 "Multi-stream: video type has changed after unmute! desktop to camera"
*This Issue tracker is only for reporting bugs and tracking code related issues.*

Before posting, please make sure you check community.jitsi.org to see if the same or similar bugs have already been discussed. General questions, installation help, and feature requests can also be posted to community.jitsi.org.

## Description
---
I am using the experimental multi-stream support and I am trying to

[2022-06-08 16:47] damencho commented on #2029
Can you test it on beta.meet.jit.si? Do you experience the same?

[2022-06-08 16:56] DanielMcAssey commented on #2029
Apologies this is a custom lib-jitsi-meet integration, not jitsi-meet.

I beleive I have found out why, but not a solution.
In https://github.com/jitsi/lib-jitsi-meet/blob/ac88ed98b59824ff4fe2022a8c54ba4f50c740e7/modules/RTC/JitsiLocalTrack.js#L424 its expected that the constraints will satisfy finding a desktop stream with the same `deviceId` property (e.g. 'screen:5:0'), however in https://githu

[2022-06-08 17:02] damencho commented on #2029
jitsi-meet is using lib-jitsi-meet and on beta.meet.jit.si you can test the latest lib-jitsi-meet with enabled multi-stream. If it works there it must be something on your side and you can debug lib-jitsi-meet running there to see what is the difference.

[2022-06-08 17:39] DanielMcAssey commented on #2029
Just debugged it on beta.meet.jit.si, is the expectation that when you unmute a desktop track, a new track should be created then replace the original desktop track, rather than calling unmute() on the original desktop track?

[2022-06-09 13:53] jallamsetty1 commented on #2029
Yes, exactly!

[2022-06-09 15:12] #2029 closed

[2022-06-10 14:07] Dan2552 commented on #2020
Seems to work, thank you!

I am a little surprised this isn't handled by the underlying SDK rather than the client code, but we're happy we have a working solution, and it seems to be a great software 👍. Thank you!

[2022-06-10 14:07] #2020 closed

[2022-06-14 09:10] pierreozoux opened #2033 "Set VP9 as default preferredCodec?"
I read on the forum some recommendations to set VP9 as preferredCodec.

The code to set it is here I believe:
https://github.com/jitsi/lib-jitsi-meet/blob/3df2abecdf59074f5c41ce7f0fbe1e915d3749b3/JitsiConference.js#L362-L363=

Can we just set it as default?

I can make the PR if you agree.

[2022-06-17 17:22] AjayShivanagol opened #2035 "Prevent page reload on Network switch"
## Description
On the Network switch Prevent page reloads to avoid asking for Audio and Video Permission on the Safari browser again and again.

## Current behavior
---
Tried the following configs.
**enableForcedReload** = false;
**enableIceRestart** = true;
Even though the network switch was very quick less than 5 sec.

it's giving reload page (Conference will be connected in 30 sec... Page)

##

[2022-06-19 11:38] steady-join opened #2036 "When using lib-jitsi-meet for custom GUI，Failed to get desktop stream for electron app"
*This Issue tracker is only for reporting bugs and tracking code related issues.*

Before posting, please make sure you check community.jitsi.org to see if the same or similar bugs have already been discussed. General questions, installation help, and feature requests can also be posted to community.jitsi.org.

## Description
---
When using lib-jitsi-meet for custom GUI ，Failed to get desktop stre

[2022-06-19 12:07] damencho commented on #2036
Please, when you have questions or problems use the community forum before opening new issues, thank you.

Are you using the electron-sdk https://github.com/jitsi/jitsi-meet-electron-sdk#screen-sharing

[2022-06-19 12:07] steady-join commented on #2036
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-06-19 12:11] steady-join commented on #2036
Thank you very much, but I see that jitsi-meet-electron-sdk needs to be embedded in the site in ifrane, it seems that the GUI cannot be customized

[2022-06-19 15:28] damencho commented on #2036
Then look at the implementation and provide it in your code, it is a simple one adding a function to the window iframe.

You can checkout jitsi-meet-electron and see it works and you will have a working example to debug and look when implementing yours.

[2022-06-20 15:35] NewEraCracker opened #2037 "Other side not seeing camera track removal"
## Description
---
We have a custom application using lib-jitsi-meet. Currently P2P mode is disabled on our configuration.

## Current behavior
---

When a new call is made and camera is activated, if during call, participant disables camera, the other participant will see a frozen picture (there is no track removal event).

## Expected Behavior
---

Track is removed.

## Possible Solution
---

ID

[2022-06-20 16:03] DanielMcAssey commented on #2037
Getting this too, we also run a custom application and the remote side does not get the TRACK_REMOVED event, they only receive an onmute RTC event and no further.

This is will multi-stream enabled though

[2022-06-23 19:25] NewEraCracker commented on #2037
In our application we now hook the TRACK_MUTE_CHANGED and run the remove logic on mute (to hide camera) and add logic on unmute (to attach camera again to html).

So far works good. We'll be testing during next week with multiple devices to see if that does the trick.

If this new behaviour is intended going forward, please let me know and this issue can be closed.

[2022-06-24 17:26] OmarJay1 opened #2044 "local-video-recording?"
Hello, is local-video-recording implemented in lib-jitsi-meet or are there any plans to do so?  Basically this feature:

[local-video-recording](https://github.com/jitsi/jitsi-meet/pull/11338)

If it's not there I was going to open a fork and try to hack something in, but I don't want to reproduce work.

Thanks.

[2022-06-24 19:24] saghul commented on #2044
lib-jitsi-meet is a lower level library.

As you can see from the Jitsi Meet PR there is no cooperation needed from LJM, so it's implemented in the application layer.

Since Jitsi Meet is also Apache 2 licensed you are welcome to take any or all the parts of our implementation, as long as you respect such license.

[2022-06-24 19:24] #2044 closed

[2022-06-27 08:27] DanielMcAssey commented on #2037
@NewEraCracker not sure if its because I am using the unstable docker images, but I dont get a TRACK_MUTE_CHANGED event either, I see the RTC onmute event, but no further propagation. Will test further

[2022-06-27 10:11] NewEraCracker commented on #2037
Just to be clear. I am doing the following when track is added:
[code]
And cleaning this listener when track is removed
[code]

[2022-06-27 11:22] DanielMcAssey commented on #2037
Unfortunately not, all I get is below and no further events, with a frozen image, I have added console output from the first line of the TRACK_MUTE_CHANGED event handler and it does not get outputted.

`2022-06-27T11:21:16.487Z [modules/RTC/JitsiRemoteTrack.js] <Tc._onTrackMute>:  "onmute" event(1656328876487): RemoteTrack[userID: 2e8aa2d3, type: video, ssrc: 854305047, p2p: false, sourceName: 2e8

[2022-06-29 12:32] DanielMcAssey opened #2048 "Multistream: When sharing desktop, camera blur causes camera video to freeze"
*This Issue tracker is only for reporting bugs and tracking code related issues.*

Before posting, please make sure you check community.jitsi.org to see if the same or similar bugs have already been discussed. General questions, installation help, and feature requests can also be posted to community.jitsi.org.

## Description
---
This was tested on https://beta.meet.jit.si/ to test multi-stream.

[2022-06-30 07:43] saghul commented on #2048
Thanks for the report! Ping @WillLiang918 ?

[2022-07-02 07:09] asadmalik3 opened #2051 "Can this library be used with 8x8 Jitsi as a Service?"
Hi,

Can I use this library with 8x8 Jitsi as a Service to create a custom video conference UI?

Thanks

[2022-07-02 10:23] saghul commented on #2051
Yes it can! We are in the process of having a more comprehensive example, but for now you can get started by following: https://github.com/saghul/sandbox-html/tree/main/jaas-ljm

[2022-07-05 12:09] steady-join opened #2053 "How to convert local stream mediastream to jitsiTrack"
*This Issue tracker is only for reporting bugs and tracking code related issues.*

Before posting, please make sure you check community.jitsi.org to see if the same or similar bugs have already been discussed. General questions, installation help, and feature requests can also be posted to community.jitsi.org.

## Description
---
I want to capture video stream, desktop share, how to convert to jit

[2022-07-05 12:34] steady-join commented on #2053
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-07-06 14:53] icanotc opened #2055 "Unable to import lib-jitsi-meet.min.js locally using ESM syntax"
## Description
The lib-jitsi-meet.min.js library does not have named or default exports

## Current behavior
The minified JS does not have named or default exports.
Direct import (such as `import "./vender/lib-jitsi-meet.min.js";') works fine in the browser, but IDE will complain about unresolved variables and does not provide IntelliSense on the JitsiMeetJS object.
## Expected Behavior
The minifi

[2022-07-06 16:24] icanotc commented on #2055
Thanks, I used this method because I had a lot of errors when I used the ESM target and tar.gz. plus if I load ljm in a script tag, the IDE would always complain that ljm is resolved, which makes it really hard to debug sometimes.

Here's the error when i vender the ESM target
[code]
And under that file, its actually not importing the js file. This error is also present when i used the .tar.gz fro

[2022-07-06 22:09] saghul commented on #2055
What errors do you get? We use the ESM bundle on our React Native build without issues.

[2022-07-06 22:29] icanotc commented on #2055
I have included the error message in my last comment.

[2022-07-07 15:44] DanielMcAssey commented on #2048
Thank you! That sorted it

[2022-07-07 15:44] icanotc commented on #2055
https://github.com/jitsi/lib-jitsi-meet/blob/2682b4ecee666234434effa411a7c4eb1fd67c17/modules/RTC/TraceablePeerConnection.js#L19-L21
Seems like this is where the error is. Imports in this case does not need .ts at the end, it will cause errors after compilation.

Error:
[code]

[2022-07-08 14:41] asadmalik3 commented on #2051
@saghul Thanks for the example, it is quite comprehensive. What about scenarios like screen share, mute/un-mute etc?

[2022-07-08 15:25] saghul commented on #2051
We will be working on an even more comprehensive example, but all of those are currently possible. You'd have to dig into the docs / code a bit for now alas.

[2022-07-09 03:18] asadmalik3 commented on #2051
@saghul Thanks for the info. I will close this ticket for now.

[2022-07-09 03:18] #2051 closed

[2022-07-09 03:35] dualven opened #2060 "lib-jitsi-meet/doc/example ,when I run it ,something wrong happens"
I put lib-jitsi-meet/doc/example  on a web server , when I  access it . there is something wrong happened . I don't  know why. would you please give me some tips ?
![sunlogin_20220709113256](https://user-images.githubusercontent.com/2209534/178090006-de8ce26c-0270-4c19-b77b-d455f12bf304.png)

[2022-07-09 08:05] dualven commented on #2060
@ibc  @legastero could you give me some help ?~~

[2022-07-09 10:00] saghul commented on #2060
Please don't poke random people.

Your problem is you need to be using HTTPS or WebRTC won't work.

[2022-07-09 10:00] saghul commented on #2060
Please ask in our community is you have further questions.

[2022-07-09 10:01] #2060 closed

[2022-07-09 11:43] ralyodio opened #2061 "Can't load in svelte, window is not defined"
[code]

Here is my code:

[code]

[2022-07-09 11:53] ralyodio commented on #2061
If I do an await import I get this error:

[code]

[2022-07-09 11:55] ralyodio commented on #2055
https://svelte.dev/repl/16b375da9b39417dae837b5006799cb4?version=3.25.0

I used this trick, but now I get:

`Uncaught (in promise) TypeError: global2 is undefined`

[2022-07-09 13:04] damencho commented on #2061
Please, when you have questions or problems use the community forum before opening new issues, thank you.

Take a look at the example how to use it
https://github.com/jitsi/lib-jitsi-meet/blob/master/doc/example/index.html
https://github.com/jitsi/lib-jitsi-meet/blob/master/doc/example/example.js

[2022-07-09 13:04] #2061 closed

[2022-07-10 01:47] dualven commented on #2060
@saghul  thank you very much ! I s  our community  here : https://community.jitsi.org/  ?   now I am not familiar with this, then I will read more here , and thank you again !

[2022-07-11 07:07] saghul commented on #2060
Yes, that is our community.

[2022-07-11 07:08] saghul commented on #2055
I think you're right, the import shouldn't have the ".ts" extension. It probably works for us because it goes through another translation. I'll take a look.

[2022-07-11 07:21] saghul commented on #2055
I made a PR with a fix in https://github.com/jitsi/lib-jitsi-meet/pull/2062 -- Not sure where that `global2` comes from, I tried your REPL link but it has no LJM code.

[2022-07-11 14:00] icanotc commented on #2055
I'll try to make an example soon, I remember trying dynamically importing LJM and running into the same problem. I'll see if i can replicate it again.

[2022-07-11 14:02] #2055 closed

[2022-07-12 18:25] NewEraCracker commented on #2037
Closing this issue as not affecting our application anymore after mute handlers implemented.

[2022-07-14 16:45] NewEraCracker opened #2069 "Test suite crash - Looking for hints if someone else had this problem"
*This Issue tracker is only for reporting bugs and tracking code related issues.*

Before posting, please make sure you check community.jitsi.org to see if the same or similar bugs have already been discussed. General questions, installation help, and feature requests can also be posted to community.jitsi.org.

## Description
---

Sometimes - depending on which versions of the test suite packages

[2022-07-14 21:13] NewEraCracker commented on #2069
Since this does not happen with versions currently on the repository, closing this issue.

My research remains available for anyone to take on. Thank you.

[2022-07-14 21:13] #2069 closed

[2022-07-25 11:10] DanielMcAssey opened #2076 "Multistream: replaceTrack failed when old track is null"
*This Issue tracker is only for reporting bugs and tracking code related issues.*

Before posting, please make sure you check community.jitsi.org to see if the same or similar bugs have already been discussed. General questions, installation help, and feature requests can also be posted to community.jitsi.org.

## Description
---
When attempting to replaceTrack a video track with no oldTrack set,

[2022-07-25 17:38] zsinba commented on #2076
how about it

[2022-07-26 15:00] saghul commented on #2076
Ping @jallamsetty1

[2022-07-26 15:36] srinisakh commented on #2035
This seems to work fine for us with web-sockets, i.e. web-socket reconnects within configured thresholds. But we did observe full reload when there is a shard change. We would like to know if there are knobs and flags to control this behaviour? Any alternatives to the above flags that work?

[2022-08-01 14:26] icanc0 opened #2085 "Documentation missing addEventListener and removeEventListener for JitsiTrack"
## Description
[JitsiTrack documentation](https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-ljm-api/#jitsitrack)

Under the documentation for `JitsiTrack`, the `addEventListener` and `removeEventListener` functions are missing.
## Current behavior
The example in this project calls `JitsiTrack.addEventListener`, and the types does contain `addEventListener` under the `JitsiTrack` class. But

[2022-08-01 14:30] saghul commented on #2085
Would you like to contribute a fix for this? https://github.com/jitsi/handbook/edit/master/docs/dev-guide/ljm-api.md

[2022-08-01 14:40] icanotc commented on #2085
Sure, I'll make a pr soon then.

[2022-08-01 15:30] icanotc commented on #2085
I just made a PR to the handbook repo, please take a look.

[2022-08-01 19:08] jallamsetty1 commented on #2076
@DanielMcAssey Is this the first time you are adding the track to the conference ? If that is the case, you need to use JitsiConference.addTrack() instead of calling replaceTrack. Can you check if this fixes your issue ?

[2022-08-02 12:51] DanielMcAssey commented on #2076
@jallamsetty1 Yep that seems to have resolved it, not sure if its worth a comment on the replaceTrack function, as pre-multistream the replaceTrack method would work if the oldTrack was null.

[2022-08-02 12:51] #2076 closed

[2022-08-02 13:13] steady-join opened #2086 "hello，Can this underlying library be used to build react native applications？"
*This Issue tracker is only for reporting bugs and tracking code related issues.*

Before posting, please make sure you check community.jitsi.org to see if the same or similar bugs have already been discussed. General questions, installation help, and feature requests can also be posted to community.jitsi.org.

## Description
---
Can this underlying library be used to build react native applicatio

[2022-08-02 13:14] #2036 closed

[2022-08-02 13:33] steady-join commented on #2086
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-08-02 13:54] jallamsetty1 commented on #2076
I agree, I will update the documentation. Pre-multistream, we could use both addTrack and replaceTrack for adding the track for the first time but with multi-stream every new source needs to be added to the conference first using addTrack and then replaceTrack can be used to change tracks for that given source.

[2022-08-08 08:51] steady-join opened #2089 "Integrating lib-jitsi-meet to react-native fails"
*This Issue tracker is only for reporting bugs and tracking code related issues.*

Before posting, please make sure you check community.jitsi.org to see if the same or similar bugs have already been discussed. General questions, installation help, and feature requests can also be posted to community.jitsi.org.

## Description
react-native version：0.68.1
node：14.19.1
cocoapods: 1.11.3

---

## Curr

[2022-08-08 09:32] saghul commented on #2089
Did you integrate react-native-webrtc and polyfill the global environment?

[2022-08-08 09:38] steady-join commented on #2089
@saghul Yes, I have inherited react-native-webrtc and refer to jit
The polyfill of si-meet, can now link to the server and join the room, but can't get the stream, the lib will report an abnormal error, how should I solve it, thank you

[2022-08-08 09:40] saghul commented on #2089
There are a bunch of things that need to be polyfilled. You can check what we do here: https://github.com/jitsi/jitsi-meet/blob/master/react/features/mobile/polyfills/index.js

[2022-08-08 09:42] steady-join commented on #2089
@saghul I have copied all the polyfills to my react-native project, but there will be some errors, is there any other configuration, thank you

<img width="736" alt="image" src="https://user-images.githubusercontent.com/29935583/183389101-3fbc461b-6221-4cb8-afa7-906451496e12.png">

[2022-08-08 09:53] saghul commented on #2089
Those are not errors but warnings, you can ignore them.

[2022-08-08 09:57] steady-join commented on #2089
Thank you, do you have a demo of the rc minimized form? I can't receive the stream now, I don't know how to solve it, thank you

[2022-08-08 10:03] saghul commented on #2089
Alas, no, we have this as part of Jitsi Meet itself.

[2022-08-09 08:10] steady-join commented on #2089
@saghul hi, why is this error thrown in the lib？thak you

<img width="1028" alt="image" src="https://user-images.githubusercontent.com/29935583/183598555-40392e64-2fee-4be7-9528-1f810c459532.png">

[2022-08-09 08:45] saghul commented on #2089
Not sure, is that a failing import?

[2022-08-10 09:15] steady-join commented on #2089
import is normal, additionally... why can't the lib be used in react-native-debugger? will cause business exceptions. debugger-version 0.12.1 , how can i view redux data，Thank you

[2022-08-10 09:26] saghul commented on #2089
Because react-native-webrtc has some sync methods.

[2022-08-15 07:22] steady-join commented on #2089
hi, I try to replace the entry of jitsi-meet with my application, when I turn on audio/video, there will be the following error, why is this? Think you！
<img width="1143" alt="image" src="https://user-images.githubusercontent.com/29935583/184592909-5a190d1c-3701-4027-b91c-fdeb818702e4.png">
<img width="506" alt="image" src="https://user-images.githubusercontent.com/29935583/184592951-641c929f-1e5a

[2022-08-15 07:26] saghul commented on #2089
Initialize the entire library with that object, it's used a bit haphazardly...

[2022-08-15 07:29] steady-join commented on #2089
This is what happened, what is the difference between the use of react-native and the web, thank you very much for your answer

[2022-08-15 08:49] saghul commented on #2089
Other than the need for polyfills, some features not working (like VAD) and the fact that audio tracks are automatically played back, everything ellse should be the same.

[2022-08-15 08:58] steady-join commented on #2089
<img width="766" alt="image" src="https://user-images.githubusercontent.com/29935583/184605758-ad06bd95-6e37-4b1e-be94-52260f29fcf9.png">
<img width="1133" alt="image" src="https://user-images.githubusercontent.com/29935583/184605904-337a7d57-b6d9-4d3f-be0e-960720c79676.png">
<img width="701" alt="image" src="https://user-images.githubusercontent.com/29935583/184606594-6cb4d66d-ed3b-4bd0-b387-5d8b

[2022-08-15 09:36] saghul commented on #2089
Not sure how that is related.

Yes, we use a myriad of reducers, because our app has many "features".

In terms of working with LJM though, you need to pass a complete config object to JitsiMeetJS.initialize, also when creating a connection and when initializing a conference.

[2022-08-15 09:47] steady-join commented on #2089
Think you!

[2022-08-15 09:47] #2089 closed

[2022-08-27 15:01] vantuan88291 commented on #1296
2022 and still got this error event change [RTCPeerConnection.ios.js](https://github.com/uppuluriaditya/RTCPeerConnection/blob/main/RTCPeerConnection.ios.js)

[2022-08-27 15:26] vantuan88291 opened #2100 "Cannot addTrack in react native"
*This Issue tracker is only for reporting bugs and tracking code related issues.*

Before posting, please make sure you check community.jitsi.org to see if the same or similar bugs have already been discussed. General questions, installation help, and feature requests can also be posted to community.jitsi.org.

## Description
--- Connect to jitsi success, but when addTrack its not ok, i am followi

[2022-08-28 06:12] saghul commented on #2100
That's bogus advise these days. Don't swap that file.

[2022-08-28 06:13] saghul commented on #1296
The original issue was solved, there is no need to override that file. You must be seeing a different issue.

[2022-08-28 06:14] vantuan88291 commented on #2100
Event dont swap that file its still not work

[2022-08-28 10:09] saghul commented on #2100
Provide full logs then please.

[2022-08-28 10:11] vantuan88291 commented on #2100
The log the same at this topic: https://github.com/jitsi/lib-jitsi-meet/issues/1296

[2022-08-28 14:39] vantuan88291 commented on #2100
The log:
[code]

[2022-08-28 19:30] saghul commented on #2100
Is that all you get?

[2022-08-29 01:51] tuanlvntq commented on #1296
still not resolve, I was get all polyfills latest code at Jitsi-meet repo but still happened

[2022-08-29 02:45] vantuan88291 commented on #2100
yes, when i addTrack and on jitsit from web cannot get track from react native, this is my code:

[code]

[2022-08-29 07:29] saghul commented on #2100
Try this: add the tracks to the conference _before_ joining it.

[2022-08-29 07:46] vantuan88291 commented on #2100
Thank for your guidance, but still not work, this is all my logs:
https://github.com/vantuan88291/oddle-rn-challenge/blob/main/localhost-1661758769786.log

[2022-08-29 08:26] saghul commented on #2100
You can't use the RN debugger, it doesn't work with the WebRTC module.

[2022-08-29 10:01] vantuan88291 commented on #2100
Hi, i have disabled RN debugger and still not working, this is some of log from terminal logs:

[code]

and when i try add the tracks to the conference after joining it, i get the errors bellow:

replaceTrack:

[code]

[code]

[2022-08-29 10:12] saghul commented on #2100
What version of LJM and the WebRTC plugin are you using?

[2022-08-29 10:28] vantuan88291 commented on #2100
"react-native-webrtc": "1.100.1"
about LJS i get lastest ib-jitsi-meet.min.js file at this: https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-ljm-api/

[2022-08-29 10:38] vantuan88291 commented on #2100
shoul i use LJM same as this project: https://github.com/jitsi/jitsi-meet?

[2022-08-29 10:51] saghul commented on #2100
When did you get the file? It's updated with every release...

[2022-08-29 13:24] vantuan88291 commented on #2100
right now i have try to update the file but still the same issue

[2022-08-29 13:24] vantuan88291 commented on #2100
right now i have try to update the file but still the same issue

[2022-08-31 04:13] vantuan88291 commented on #2100
@saghul after i change the connect to meet.jit.si server and every things fine, its working now, so problem come from our server, can you suggest me what is the problem can happened from our server? because from our web reactjs work fine

[2022-09-05 08:28] saghul commented on #2100
What version were you using? Make sure to use the latest stable version!

[2022-09-05 08:28] #2100 closed

[2022-09-07 06:18] Lsq6647 opened #2106 "Intermittent audio issue during meeting"
Excuse me, after starting the meeting, the voice is often intermittent, how should I solve this problem? The local version is 6726

[2022-09-07 11:14] damencho commented on #2106
Please, when you have questions or problems use the community forum before opening new issues, thank you.

Do you experience the same with meet.jit.si?

[2022-09-07 11:16] #2106 closed

[2022-09-13 07:19] kaushikRitik opened #2109 ""punycode.ucs2.decode undefined" when ever _resumeConnection() is called."
## Description
https://github.com/jitsi/lib-jitsi-meet/blob/ed2a0e64ff82719f13bf2f4735092d0f4982bd7b/modules/xmpp/ResumeTask.js#L126
The app crashes whenever the internet connection is interrupted because of URL class of javascript.

## Possible Solution
We were able to fix it by bypassing the code.

## Steps to reproduce
- Step-1 Use the bundled lib-jitsi-meet
- Step-2 Bundle your javascript code

[2022-09-13 08:23] saghul commented on #2109
What BOSH URL are you using?

[2022-09-13 14:36] vantuan88291 opened #2110 "React native was crash app in release mode"
## Description
I import this code like bellow:
[code]

Its work fine in debug mode, but when change to release mode its got crash like this:

![Screen Shot 2022-09-13 at 21 30 19](https://user-images.githubusercontent.com/9206731/189929762-4b62a473-df67-42d3-8f74-3ad4140b82da.png)

I belive its come from import lib-jitsi-meet, because when i remove it work fine.

version in package.json:  https://

[2022-09-13 15:03] saghul commented on #2110
Do you get any more meaningful error in the device red box?

[2022-09-13 15:06] vantuan88291 commented on #2110
seem like i have found why its happened. When i run npm install, jitsi meet lib in node module so weird, its only has node_modules and dist folder, code inside dist folder so that why when change to release mode its cannot build bundle. But why?

[2022-09-13 17:59] saghul commented on #2110
That's not weird at all, since package.json points to the files inside dist

[2022-09-14 07:47] kaushikRitik commented on #2109
this is the option we are passing in the makeConnection
`{
        hosts: {
          domain: domain,
          muc: "conference." + domain,
          focus: "focus." + domain,
        },
        serviceUrl: "wss://xmpp." + domain + "/xmpp-websocket",
        bosh: "https://xmpp." + domain + "/http-bind",
      }`

[2022-09-14 13:11] saghul commented on #2109
What is your domain?

[2022-09-16 11:47] kaushikRitik commented on #2109
domain is "ritik.test.io"

[2022-09-16 12:02] saghul commented on #2109
Since you are using LJM directly, are you polyfilling URL? We use https://github.com/charpeni/react-native-url-polyfill without problems.

[2022-09-19 08:52] kaushikRitik commented on #2109
We are also using the polyfills like used in jitsi meet but we still got the error.

**Here is the fix if anyone else got this error.**

      ` _resumeConnection() {
        const { streamManagement } = this._stropheConn;
        const resumeToken = streamManagement.getResumeToken();

        // Things may have changed since when the task was scheduled
        if (!resumeToken) {
            retu

[2022-09-27 11:35] maxirozay opened #2120 "TRACK_REMOVED not called on remote tracks"
## Description
I updated Jitsi last friday and since then `JitsiMeetJS.events.conference.TRACK_REMOVED` is called only for local tracks. The last version (2.0.7001-1) I had was working fine.
same issue [here](https://community.jitsi.org/t/track-dispose-doesnt-call-track-removed-in-the-conference/116091) and [here](https://github.com/jitsi/lib-jitsi-meet/issues/2037)

## Current behavior
I have a l

[2022-09-28 12:48] maxirozay commented on #2120
Should we rather use mute or dispose to turn off a track ? We're using dispose to remove the tracks from the conference and the server since they're not needed anymore rather than having a dead track and to have only one way to turn off a track but maybe there's a good reason to use mute.

[2022-09-28 18:38] saghul commented on #2120
Ping @jallamsetty1

[2022-09-30 11:28] psi-4ward opened #2125 "(feat) Config-able screenshare bitrate"
See https://github.com/jitsi/lib-jitsi-meet/commit/ad75454f4d912bf8a71c2351525630f62117f94f#diff-20e543a222fca71d2e2b99c286bbc60db44e228bb3cfc9d8a083d835140abdb0R2371

[code]

We use here the hardcoded constant `HD_BITRATE` for Screenshare. Would be nice to have it config-able using config.js ie

[code]

[2022-10-03 10:02] maxirozay commented on #2120
Thank you for your response I assume I need to use mute instead of dispose then. By turning off I mean muting so the user has no audio or video anymore.

To clarify, I used to dispose the track when a user mute their track and before they leave. Now I should only mute without disposing when the user want to mute the track and dispose before leaving ?

[2022-10-03 17:21] jallamsetty1 commented on #2120
Yes, that is how the client is expected to work. Muting the track when the user mutes and the  tracks need to be disposed only before leaving.

[2022-10-04 06:59] #2120 closed

[2022-10-05 09:11] maxirozay opened #2127 "recording icon not leaving on mute"
## Description
The browser recording icon next to the site title stays after muting the audio.

## Current behavior
Turn off your microphone and the recording icon stays like you were still being recorded.

## Expected Behavior
Turn off your microphone and the icon leaves so you know that you're not being recorded.

## Possible Solution
In [JitsiLocalTrack.js](https://github.com/jitsi/lib-jitsi-me

[2022-10-06 12:30] saghul commented on #2127
Hey there!

When you mute the mic is not technically closed. No audio is sent to the other side (it's disabled) but it's not closed, for a number of reasons:

- Opening it takes time, so unmuting would be a much more costly operation
- We cannot give user hints such as "are you trying to speak?"

That indicator is technically correct because the mic is still open, even though no data is being tran

[2022-10-06 14:50] maxirozay commented on #2127
Thank you, I understand I'll close this issue but before I have another question/remark related to this issue.

If my video has an effect I have to call `await video.setEffect()` before `dispose()`. If I don't call and wait `setEffect` the browser icon stays.

The [dispose](https://github.com/jitsi/lib-jitsi-meet/blob/master/modules/RTC/JitsiLocalTrack.js#L600) function call setEffect but maybe it

[2022-10-07 13:03] xXTraceXx opened #2131 "Unable to build with node 18.2.0"
## Description
I tried to build this project with node version 18.2.0 (`npm run build`) and ran into the following error:

[code]
---

## Current behavior
Unable to build project (lib-jitsi-meet.min.js)
---

## Expected Behavior
Able to build project
---

## Possible Solution
After some research i found the problem. Node v17 has a new feature for OpenSSL 3.0 and an article describing the problem (

[2022-10-07 17:53] saghul commented on #2131
We only test and deploy with LTS, that is Node 16 at the moment.

[2022-10-10 07:54] #2127 closed

[2022-10-18 15:15] maxired opened #2134 "selectEndpoints with no selected endpoints should remove previously selected endpoint"
## Description

When creating an application directly with the lib and on top jitsi-meet,
I should be able to remove all participants from the `selectedEndpoints`

## Current behavior
when calling `selectEndpoints` with an empty array, a previously selected participants is still prioritised

## Expected Behavior
when calling `selectEndpoints` with an empty array, no participants should be priorisi

[2022-10-28 03:32] alexivaner opened #2141 "Where is the bridge between lib-jitsi-meet and C++ code in WebRTC?"
Hello everyone,
I am trying to build a custom WebRTC and add my custom frame encryptor.
I successfully built it in android and it could work successfully.
In Android, we have JNI to become the bridge between java and C++ through react-native-webrtc.
For example, finally, react-native-webrtc will call PeerConnection.java  inside WebRTC to connect to RTPSender.cc

But I wonder where is the bridge be

[2022-10-28 07:59] saghul commented on #2141
Hi there!

This library relies on the globals supplied by either the browser or browser-like environment. In React Native, that is done with the `registerGlobals()` function. On Electron, your best bet is probably to make a custom Electron build which includes your changes to WebRTC.

Generally speaking, you should only need your custom code on RN, on the browser you can use insertable streams to

[2022-10-28 07:59] #2141 closed

[2022-10-28 08:25] alexivaner commented on #2141
Last time I tried already Insertable Streams API, and implement encryption and decryption using WebAssembly. But then, my android app could not decrypt video that was encrypted through insertable streams, but it can decrypt video from another android app. The other way around, my website app could decrypt video from my android. Only my android could not decrypt video from insertable streams.

We a

[2022-10-28 09:05] saghul commented on #2141
It's hard to tell on the abstract, but generally speaking, it should doable.

[2022-11-01 09:16] yu358769601 opened #2144 "对于这个自定义sdk部分希望官方多给一些提示"
要不然根本没有办法使用这么好的东西

[2022-11-01 09:19] #2144 closed

[2022-11-02 06:59] yu358769601 opened #2145 "Strophe: BOSH-Connection failed: improper-addressing"
Thank you for your hard work.
First of all, I went to the official forum, and there is no corresponding answer to all the questions of https. I have configured ssl here, both front and back.

My backend part uses docker-jitsi-meet, which is started in docker, and its configuration is as follows.

# Directory where all configuration will be stored.
CONFIG=~/.jitsi-meet-cfg.

# Exposed HTTP port.
HT

[2022-11-02 11:44] damencho commented on #2145
Then create a topic with your question. We try to keep trackers with issues and the forum is the place for questions, Thank you.

Why this is different than:

Open the link https://wrtc195.haoleen.com:10086/config.js these are the settings that jitsi-meet passes to lib-jitsi-meet and you can use that. Your domain and muc settings are wrong.

[2022-11-02 11:44] #2145 closed

[2022-11-09 05:25] ralyodio commented on #2055
Can we fix this?

`import JitsiMeetJS from 'https://esm.sh/lib-jitsi-meet@1.0.6';`  // doesn't work

[2022-11-09 06:37] saghul commented on #2055
We don't maintain that build.

[2022-11-09 18:31] NewEraCracker commented on #2037
Re-opening this issue in hopes of community input.

I am using the latest version of the `jitsi-videobridge` (currently `2.2-45-ge8b20f06-1`).

On an earlier version of lib-jitsi-meet with the `sourceNameSignaling` feature-flag turned off, the `JitsiTrackEvents.TRACK_MUTE_CHANGED` listener fires correctly on both unmute and mute of a remote video track.

However with the latest lib-jitsi-meet the

[2022-11-10 01:07] ralyodio commented on #2055
Yes I know but esh.sh errors are due to poor ESM support by the library in question.

[2022-11-10 01:42] saghul commented on #2055
We don't have a 1.0.6 version of this library, so I wouldn't know what random version someone put there.

Please report the actual underlying issue.

[2022-11-10 08:01] saghul commented on #1517
JQuery is now bundled in, closing.

[2022-11-10 08:01] #1517 closed

[2022-11-10 08:02] saghul commented on #484
Closing.

While we've added TS types (gradually) we still have no plans to publish this on npm.

[2022-11-10 08:02] #484 closed

[2022-11-10 14:06] NewEraCracker commented on #2037
Just to be clear, this is a bug with [v1534.0.0+add651fc](https://github.com/jitsi/lib-jitsi-meet/commits/add651fc7eb277d48108ce4cf73e915119304525).

The events from JitsiRemoteTrack.js are reached:
![image](https://user-images.githubusercontent.com/416945/201111517-8a478684-7ab3-4915-ae61-3edb011b6337.png)

I added the console.warn manually for testing:
![image](https://user-images.githubusercont

[2022-11-15 09:26] saghul commented on #2134
If you want to receive no one you can set last N to zero.

[2022-11-25 19:34] NewEraCracker commented on #2037
I have accessed in my custom application calling `await track.mute();` before `await conference.removeTrack(track);` is a valid workaround for this issue.

Another alternative is to patch `JitsiConference.js`:
[code]

I'm happy that now at least there is either a workaround by code of our application and/or patch the library itself.

No warranties express or implied.

[2022-11-29 20:51] #2037 closed